[2015-02-16 08:41] JamieMason opened #1 "Use conventional-changelog."
https://github.com/ajoslin/conventional-changelog.

[2015-02-25 13:36] #1 closed

[2015-03-06 01:03] jacobbuck opened #5 "Add --dev flag option"
See shrinkwrap notes: https://docs.npmjs.com/cli/shrinkwrap#other-notes

[2015-03-06 07:49] JamieMason commented on #5
Thanks @jacobbuck, this will definitely land.

[2015-03-06 11:23] aliebuck commented on #5
Cool :+1:

[2015-03-25 09:10] skirmess opened #6 "cache entry in .npmrc is ignored"
Shrinkpack ignores the cache entry in .npmrc and tries to read the files from ~/.npm

[2015-03-25 09:13] JamieMason commented on #6
Thanks @skirmess, I'd not seen the [cache config](https://docs.npmjs.com/misc/config#cache) before. I'll make sure I account for that.

[2015-04-02 14:42] JasonHewison opened #7 ""The system cannot find the path specified." issue when running on Windows 7"
When I installed this on windows I couldn't get it to work (I did manage to after a few work arounds).

When running shrinkpack I get the error;
[code]

To get it to work I had to do the following;
- Change the shrinkpack.cmd file to run shrinkpack.js by copying and editing the cmd file gulp creates.
- Everywhere that "process.env.PWD" is referenced change it to "process.env.PWD || process.cwd()"

[2015-04-03 16:00] JamieMason commented on #7
Really appreciate this, your Pull Request has been merged and released Jason.

[2015-04-03 16:00] #7 closed

[2015-04-30 10:12] JamieMason opened #9 "Filter uniques in getGraphAsArray"
When many packages depend on the same version of a package, this should ensure it is only fetched and cached once.

[2015-05-07 07:54] JamieMason commented on #5
0.2.1 ([changelog](https://github.com/JamieMason/shrinkpack/blob/master/CHANGELOG.md)) has the --dev flag set by default, but this will also be made configurable in the future.

[2015-05-07 07:55] JamieMason commented on #7
0.2.1 ([changelog](https://github.com/JamieMason/shrinkpack/blob/master/CHANGELOG.md)) released to npm.

I forgot to do this at the time.

[2015-05-07 21:16] aliebuck commented on #5
Nice one :smile:

[2015-05-07 21:16] #5 closed

[2015-05-19 07:35] ttghr opened #10 "urls doesn't resolved correctly"
When you use socket.io you run into following issue:

[code]
will be resolved to npm cache add xmlhttprequest@1.5.0 and that is not the same package as "from"  describes.
With the effect, that socket.io crashes after installing with the packages from node_shrinkwrap.

Solution:
change line 110 in index.js to:
[code]

[2015-05-19 08:26] JamieMason commented on #10
Thanks ever so much. I'm on holiday but will pick up when I return home.

[2015-05-25 16:35] JamieMason commented on #10
Am I right that the package.json entry in `dependencies` looks like this?

[code]

[2015-05-28 13:49] ttghr commented on #10
Yes, you are right !

[2015-05-28 13:49] #10 closed

[2015-06-09 01:25] Raynos opened #11 "API and responsibilities"
I looked at this tool and the README and became pretty excited!

I ran `shrinkpack -h` and it immediately did `rm -rf node_modules; rm npm-shrinkwrap.json; npm install`. I was surprised and a bit sad as I forgot to `git add .`

I would like to propose that this program does not run `.clean()`. Deleting all of these files is going to generate a lot of churn and also take a lot of time.

Furthermore

[2015-06-09 08:48] JamieMason commented on #11
I completely agree @Raynos, **shrinkwrap** (managing `npm-shrinkwrap.json`) and **shrinkpack** (managing `node_shrinkwrap/*.tgz`) should be separate concerns.

I see shrinkpack in it's current state as a working prototype, it needs a lot of attention to make it acceptable for general use.

With this in mind, what are your thoughts on the following interface?

`shrinkpack --help`
+ Display typical

[2015-10-23 16:44] JamieMason commented on #11
Please give me your thoughts on 0.3.0 @Raynos. Shrinkpack now only manages the contents of node_shrinkwrap based on the contents of the npm-shrinkwrap.json - and no longer creates it for you.

It should now also be much faster, as it only removes redundant packages and adds new ones - with the others being left as they were.

Ideas or changes welcome, thanks.

[2015-10-23 16:50] JamieMason commented on #9
Landed in 0.3.0

[2015-10-23 16:50] #9 closed

[2015-10-23 16:51] JamieMason commented on #6
Landed in 0.3.0. (https://github.com/JamieMason/shrinkpack/blob/master/index.js#L55)

[2015-10-23 16:51] #6 closed

[2015-10-23 16:52] #11 closed

[2015-10-26 15:25] JamieMason opened #12 "Handle scoped packages"
Examples such as the following from engine.io-client@1.5.4.

[code]

`npm cache add` does not seem to cache this format.

[2016-01-05 10:33] gajus opened #14 "npm shrinkwrap complaints about extraneous and missing packages"
I am trying to test `shrinkpack`, but I fail at the `shrinkwrap` step. Looking for help understanding this issue and how to fix it.

Steps to reproduce.

[code]

The error:

[code]

[2016-01-05 10:53] gajus commented on #14
This issue has been reported quite a few times https://github.com/npm/npm/issues/4435.

Interestingly,

[code]

made it work.

[2016-01-05 11:27] JamieMason commented on #14
Hey @gajus,
I've had similar problems in the past and am still working to narrow down exactly what the cause is.

Some things I've noticed though are that wildcards like `^` and `*` etc can make the resulting dependency graph less predictable, but even then IIRC subsequent runs of `npm shrinkwrap` one after another result in subtly different `npm-shrinkwrap.json` files and I _think_ this is someho

[2016-01-05 11:39] gajus opened #15 "Consider supporting npm package development"
First, lets start that in theory it works great:

[code]

However, it breaks if I try to use it via `npm install`, e.g.

[code]

The resulting error is:

[code]

[2016-01-05 12:07] JamieMason commented on #15
Thanks a lot for this @gajus.

I should mention that [shrinkpack's target problem](https://github.com/JamieMason/shrinkpack#target-problem) is product development projects rather than for npm packages. That's not to say that patches shouldn't be accepted for shrinkpack to also cater for those, but it's just been outside of the problem space to date.

Would npm's [bundledDependencies](https://docs.

[2016-01-05 12:16] gajus commented on #15
For the record.

Looking into the `npm-debug.log`

[code]

it looks like the path is not resolving to the build directory.

[2016-03-25 04:11] DylanPiercey commented on #12
@JamieMason Is this referring to https://docs.npmjs.com/misc/scope? If so this would be awesome to have.

[2016-03-26 20:14] markerikson opened #16 "Shrinkpack as solution to NPM-Left-Pad-Gate?"
It seems to me that Shrinkpack solves many of the issues involved with the whole transitive dependencies problem, by ensuring that you have local copies rather than always pulling down files from NPM's servers.  I've found myself posting links to this tool in a number of discussion threads, sort of trying to raise awareness a bit.

Maybe worth making a concerted effort to try to advertise Shrinkpa

[2016-03-27 19:30] digitalsadhu commented on #12
@JamieMason  I've just run into this. Any thoughts on how to approach fixing it? I could try and work on a PR if you could point me in the right direction...

[2016-03-27 20:41] JamieMason commented on #16
Thanks very much for this @markerikson, I've noticed some of your comments mentioning shrinkpack and am hugely grateful that you took the time to do that.

I've tried putting the word out (mostly on Twitter) but have found it very difficult to get any traction. It's totally understandable though. Let's be honest, Shrinkpack is part of some of the more boring aspects of Development.

It's also a pr

[2016-03-27 20:41] #16 closed

[2016-03-27 21:11] markerikson commented on #16
Sure.  For what it's worth, I do think it's useful for more than _just_ "large teams that release regularly".  For _really_ large teams, I could see the value of running an internal NPM server or something, or if you have a bunch of related projects.  But, for a lot of other situations, Shrinkpack seems to nail the use case.

I'll freely admit that I have not yet used it in a meaningful production

[2016-03-27 21:30] JamieMason commented on #12
Thanks @digitalsadhu.

It's a while since I opened this issue, but I just tried the following which proves it is cached correctly.

[code]

But that's using npm via the command line and shrinkpack uses npm via `require('npm')` and I think it's the latter where this bit of support is lacking.

When I first wrote shrinkpack, npm had documentation for an API available via `require('npm')`, but that h

[2016-03-27 21:32] JamieMason commented on #14
Closing as this is an issue with npm and shrinkwrap itself, but I noticed that @thewoolleyman has been putting this together https://github.com/thewoolleyman/npm-shrinkwrap-helper which contains some really useful info on how to avoid the problems described here.

[2016-03-27 21:32] #14 closed

[2016-03-27 21:49] JamieMason commented on #16
Thanks @markerikson. I totally agree and would urge anyone developing a project to use either shrinkpack or a caching proxy or mirror to help protect themselves from regressions and takedowns.

What I meant to say was that, although I believe this is something people should do, that subset of Developers are the only group I think _might_ pay it some attention. I just don't think diligent practices

[2016-03-28 09:46] digitalsadhu opened #17 "Remove optional dependencies."
1. Install nodemon on mac
(mac only dependency fsevents will be installed)
2. run shrinkwrap and shrinkpack
3. pull down on a linux machine and run npm install
4. Get the following error:
[code]

Have you run into this sort of thing before? Is it even possible to fix such a thing?

[2016-03-28 09:59] JamieMason commented on #17
Thanks for posting this. I could have overlooked something, but I'm not sure how this can be possible given that only the npm tarballs are stored.

Unlikely, but you've not checked in node_modules as well or anything have you?

[2016-03-28 10:54] digitalsadhu commented on #17
No, not checked in.

Did some digging, looks like the way the fsevents is specified causes the tarball not to be fetched at all when installing from npm.

fsevents is specified as an optional dependency here:
https://github.com/paulmillr/chokidar/blob/master/package.json#L41

and the os is specified here:
https://github.com/strongloop/fsevents/blob/master/package.json#L10

and according to this is

[2016-03-28 10:58] JamieMason commented on #17
That's really useful, thanks a lot for digging that up. I'll have a think about what can be done about it.

[2016-03-28 11:35] digitalsadhu commented on #17
:+1:

[2016-03-28 19:39] markerikson opened #18 "Diff does not contain packages if npm-shrinkwrap.json is missing "resolved" fields"
I just had my first package update sequence go badly for me.  As usual, I had done an `npm install --save-dev` (in this case, the "sinon-chai" package), confirmed the package was working as I wanted, and then run `npm shrinkwrap --dev` followed by `shrinkpack`.  However, despite my package.json having been updated by the install, shrinkpack didn't list any diff'd packages.  I went back and forth o

[2016-03-28 20:13] JamieMason commented on #18
Thanks a lot Mark, that info is really helpful. I'll take a look into it soon.

[2016-03-28 20:19] markerikson commented on #18
A quick followup.  I loaded up my current npm-shrinkwrap.json and did a filter on its "dependencies" list.  There are 734 total items listed.  Of those, 204 do _not_ have a "resolved" property, meaning that 530 _are_ "resolved".

Interestingly, my node_shrinkwrap folder currently has 569 items in it.  Close to the number of "resolved" items, but a bit more.  Not sure why the difference.  I see 735

[2016-03-29 05:04] thedewi opened #19 "Support (or at least non-fatal handling) for git dependencies?"
Git dependencies are causing fatal errors on my system.

My `npm-shrinkwrap.json` contains this github dependency entry:

[code]

This derives from my `package.json` entry: `"techan": "andredumas/techan.js#0.6.0"`

Shrinkpack (or maybe it's npm's cache API) doesn't seem to know how to respond:

[code]

[2016-03-29 05:56] JamieMason commented on #19
Thanks for raising this, I'll get a fix sorted soon.

[2016-04-03 14:38] JamieMason commented on #19
Got this working locally.

[2016-04-03 14:40] DylanPiercey commented on #19
Will this fix scoped repos?

[2016-04-03 14:43] JamieMason commented on #19
I've not (knowingly) used a scoped repo yet @DylanPiercey, do you have an example of one? I'll put it in the package.json I'm working with.

[2016-04-03 15:22] JamieMason commented on #12
working locally using

[code]

[2016-04-03 15:29] JamieMason commented on #18
I think my fix for #19 will also address this one @markerikson.

[2016-04-03 15:51] #12 closed

[2016-04-03 15:54] JamieMason commented on #18
Version [0.5.0](https://github.com/JamieMason/shrinkpack/blob/master/CHANGELOG.md) has been released, please could you give it a try and update or close this issue?

I tried installing and shrinkpacking `sinon-chai` (and `sinon` and `chai` peers that I was prompted for) and all seemed to work as expected.

Thanks a lot @markerikson.

[2016-04-03 15:55] JamieMason commented on #19
Version [0.5.0](https://github.com/JamieMason/shrinkpack/blob/master/CHANGELOG.md) has been released, please could you give it a try and update or close this issue?

Thanks a lot @thedewi @DylanPiercey

[2016-04-03 15:56] JamieMason commented on #12
Version [0.5.0](https://github.com/JamieMason/shrinkpack/blob/master/CHANGELOG.md) has been released, please could you give it a try and update or close this issue?

Thanks a lot @digitalsadhu @DylanPiercey

[2016-04-03 15:59] JamieMason commented on #17
@digitalsadhu could you do me a favour? if you were to follow the same steps but without using `shrinkpack` at all, does this still happen? ie. is it a `npm shrinkwrap` thing? Or does also using `shrinkpack` introduce the problem?

[2016-04-03 17:29] markerikson commented on #18
TL;DR: nope, Shrinkpack seems to be behaving the same - it's fine if given valid shrinkwrap input, the question is what should happen if it sees entries that are not "resolved".

Hmm.  I updated Shrinkpack globally to 0.5.0 and tried doing `npm i --save-dev sinon-chai` on a repo that didn't have it yet.  NPM installed, package.json got update.  Now, interestingly, when I re-ran `npm shrinkwrap --d

[2016-04-03 18:43] DylanPiercey commented on #12
@JamieMason seems to work well now but I am having one minor issue. Scoped packages always seem to be "repacked" every time I run shrinkpack.

![image](https://cloud.githubusercontent.com/assets/4985201/14234192/e2653602-f999-11e5-8ca6-5352847375e5.png)

This could be a limitation with npm or something but I thought i'd bring it up.

---

Edit:

Although shrinkpack now successfully runs it doesn't

[2016-04-04 13:00] JamieMason commented on #18
No fix yet, but I've refactored the [code that traverses the dependency graph](https://github.com/JamieMason/shrinkpack/blob/66c85982980bc756b9658f2d549e6ef48e636e49/src/shrinkwrap/recurse.js) to try and make my intentions clearer. I was looking for `resolved` to determine if what I had a reference to at that time was a package, or something else.

I have an idea to do what you suggested using `np

[2016-04-04 13:18] DylanPiercey commented on #18
@JamieMason shy not just check if the tarball exists in the current npmcache folder?

[2016-04-04 14:03] JamieMason commented on #18
That could work — we check every package to see if it is in the cache, then if it isn't we [run this](https://github.com/JamieMason/shrinkpack/blob/66c85982980bc756b9658f2d549e6ef48e636e49/src/npmCache.js#L35-L42). Line 36 uses the `resolved` property to know where to fetch the tarball, but if that is missing we could use `name@x.y.z` instead.

One case where this would not work is packages that a

[2016-04-04 16:19] markerikson commented on #18
For what it's worth, I've got a stripped-down version of my current prototype published as a sample project over at https://github.com/markerikson/react-redux-cesium-testing-demo .  You can see my actual list of deps in package.json, and the current output of `npm shrinkwrap` in npm-shrinkwrap.json.  Note that per my earlier comments, a significant portion of the shrinkwrap entries don't have "res

[2016-04-04 16:34] JamieMason commented on #18
Great, thanks

[2016-04-04 18:00] #18 closed

[2016-04-04 18:03] #15 closed

[2016-04-04 18:04] JamieMason commented on #19
Closing just as part of issue housekeeping, please re-open if needed.

[2016-04-04 18:04] #19 closed

[2016-04-04 18:06] JamieMason commented on #18
I think this should be fixed in 0.6.0, I actually experienced the same issue while running shrinkpack locally against itself — the espree dependency had a missing resolved property. That's working locally now.

[2016-04-04 18:17] markerikson commented on #18
Just updated my global Shrinkpack to 0.6.0 and running it now.  It's clearly doing something different than it was before.  I'm seeing a bunch of new libs being shown as added diffs as it's running.  Also... it's completely pegging my CPU because it's firing off all these background NPM tasks.  It's also taking quite a while to run.  Now, as I said, my project had at least a couple hundred non-res

[2016-04-04 18:30] JamieMason commented on #18
Totally agree @markerikson, performance just hasn't been a priority up to now. Initially I just wanted to prove the idea and see if repointing shrinkwrap at relative file paths was even possible, then navigate the edge cases and kinks so it's all more stable.

With the above now in better shape, performance is now the main priority behind any bugs, should they come up.

Thanks a lot, I'll create i

[2016-04-04 18:34] markerikson commented on #18
End result:
`shrinkpack +248 -0`

Took about 20 minutes to run.  Fortunately, I just re-ran shrinkwrap+shrinkpack, and the second time around things finished in just a couple seconds (because, presumably, everything was already in cache).  So yeah, better performance would be good, but looks like it _should_ mostly be a first-run issue.

[2016-04-04 18:34] JamieMason opened #21 "Inspect package.json for tarball path before network"

[2016-04-04 18:36] JamieMason commented on #18
Yeah, it's definitely too slow. As you say, first-run is the worst hit, after that it's just a case of removing old deps and adding new ones – with everything else being left alone.

[2016-04-04 22:54] dmkelly opened #22 "Shrinkpack fails with repos not in npm registry"
I'm using a repo that isn't listed in the npm registry, so `npm view` fails [here](https://github.com/JamieMason/shrinkpack/blob/master/src/npmCache.js#L37).

Do you have any plans to support this use case?

[2016-04-05 05:38] JamieMason commented on #22
Thanks @dmkelly, please could you post your package.json so I can reproduce the issue?

[2016-04-05 13:59] szarouski opened #23 "TypeError: Cannot read property 'npm' of undefined"
Hi, with version 0.6.0 I run into a following issue:
[code]

package.json:
[package.json.txt](https://github.com/JamieMason/shrinkpack/files/204602/package.json.txt)

[2016-04-05 14:05] JamieMason commented on #23
Thanks @szarouski,
There's quite a few different types of dependency formats in there so that'll be handy to test against.

I think I'll need to remove `"esprima-fb": "15001.1001.0-dev-harmony-fb",` in my copy though as that looks like an internal server?

[2016-04-05 14:06] webuniverseio commented on #23
Hi @JamieMason,
esprima-fb is installed from npm: https://www.npmjs.com/package/esprima-fb

[2016-04-05 14:11] JamieMason commented on #23
Thanks a lot, I'll see if I can reproduce it and get back to you if not. Will most likely be Wednesday when I  next get chance.

[2016-04-05 14:24] webuniverseio commented on #23
Meantime version 0.5.0 worked for me.

[2016-04-05 14:49] dmkelly commented on #22
The failing package is hosted on Github Enterprise on a private network so unfortunately I can't provide a package.json that you will be able to use to reproduce. I thought I saw in your commit history that you added a fix to support packages referenced by Github URL in the package.json, so maybe this issue is more related to the package being hosted on a private network?

[2016-04-05 22:57] adam-marshall opened #24 "Repeated "No compatible version found" error calling npm i after shrinkpack"
Seems to be a different module that fails each time, no specific version

E.g.
234 error notarget No compatible version found: assemble-less@'./node_shrinkwrap/assemble-less-0.7.0.tgz'
419 error notarget No compatible version found: grunt@'./node_shrinkwrap/grunt-0.4.5.tgz'
420 error notarget No compatible version found: grunt-contrib-concat@'./node_shrinkwrap/grunt-contrib-concat-1.0.0.tgz'

If I

[2016-04-05 23:34] JamieMason commented on #24
which OS are you on? could you include the package.json here please? thanks

[2016-04-05 23:44] DylanPiercey commented on #22
@dmkelly I am using bitbucket for some private repo's (accessed with ssh keys) and recent changes allow that to work, perhaps give it another go?

---

Edit:

It worked with 0.5x but no longer works with 0.6x

[code]

@JamieMason I'm not sure what changes were made in 0.6 but is this something that could be resolved?

[2016-04-05 23:46] DylanPiercey commented on #23
@JamieMason Wouldn't this be fixed since as of 0.5 "npm" is no longer a dependency?

[2016-04-06 04:31] thedewi opened #25 "Error handling issues obscuring points of error (in v0.6.0)"
in src/exec.js:
[code]

Problems are a bit tricky to trace due to some error handling issues:

1. The reject() is passing out ```err``` instead of ```stderr```, which is ```null``` so it blows up the ```.toString()``` in npmCache.js:42.

Recommendation: substitute those, use String() rather than .toString().

2. And when ```addToNpmCache()``` catches and returns errors, ```addMissingDep()``` is pr

[2016-04-06 04:44] thedewi opened #26 "exec.js aborts on benign stderr messages from npm (in v0.6.0)"
At ```exec.js``` line 11, stderr is checked and if non-empty, the command is considered to have failed.

But on my system (admittedly with an old npm), npm outputs a couple of benign lines to stderr whenever it refreshes its cache:

[code]
The second time it is silent, but the first time worked fine too and should not be classified as having failed. If npm didn't return an error code, and you got

[2016-04-06 07:47] adam-marshall commented on #24
Windows 7.

[package.json.txt](https://github.com/JamieMason/shrinkpack/files/205954/package.json.txt)

Thanks! Your solution seems perfect for what we need so thank you for your help.

[2016-04-06 12:33] webuniverseio commented on #24
Hi, I tested on Windows 10 with shrinkwrap 0.6.0 and process was successful for me (both shrinkpack and npm i after shrinkpack).
My node -v is v4.1.0 and npm -v is 3.8.3.

Steps I followed:
- copied your package.json in empty folder, then run `npm i`
- `npm shrinkwrap --dev` after installation
- `shrinkpack`
- removed node_modules and run `npm i` again

[2016-04-06 12:47] JamieMason commented on #24
thanks so much for that @szarouski, really helps. @adam-marshall please could you re-test?

[2016-04-06 18:32] hsrobflavorus commented on #26
I'm getting the same result:

`
Please raise an issue at https://github.com/JamieMason/shrinkpack/issues
    TypeError: Cannot read property 'npm' of undefined
        at Object.addPackage (C:\Users\flavorus\AppData\Roaming\npm\node_modules\shrinkpack\src\shrinkpack.js:24:31)
        at addToShrinkpack (C:\Users\flavorus\AppData\Roaming\npm\node_modules\shrinkpack\index.js:115:23)
        at tryCa

[2016-04-06 18:38] hsrobflavorus commented on #26
0.5.0 also seems to have this issue, but reverting to **0.4.1** works for now.

[2016-04-06 18:55] dmkelly commented on #22
I just tested and can confirm that it works on 0.5.0 but does not work on 0.6.0

Thanks, @DylanPiercey

[2016-04-06 20:14] JamieMason commented on #25
brilliant @thedewi, thanks.

[2016-04-06 20:18] JamieMason commented on #26
Thanks a lot @thedewi, picking this up now.

[2016-04-07 09:06] metachris commented on #23
I've experienced the same error with shrinkpack@0.6.0. Switched back to shrinkpack@0.5.0 and it works.

[2016-04-07 11:31] fanatid opened #27 "linter (standard/semistandard)"
As I see you use parts from `semistandard`/`standard` with `eslint`, why not just use `semistandard`/`standard`? Thank you!

[2016-04-07 11:55] JamieMason commented on #27
Thanks @fanatid, it's the first time I've used semistandard – if you can show me the right way in the form of a PR, that would be great if you have time.

[2016-04-07 14:29] fanatid opened #29 "drop node 0.10 / 0.12"
Why not drop support for node 0.10? and even 0.12?
Promises are available from 0.12, arrow functions (awesome feature!) available from node 4.

[2016-04-07 14:39] JamieMason commented on #29
Thanks a lot for this and the other issues and PRs, I'll get onto them this weekend. Huge help, cheers.

[2016-04-11 08:29] JamieMason commented on #24
Please re-open if this is still an issue, thanks.

[2016-04-11 08:29] #24 closed

[2016-04-13 17:10] #26 closed

[2016-04-13 18:53] JamieMason commented on #25
Thanks a lot for your help, this should be improved in [0.10.0](https://github.com/JamieMason/shrinkpack/releases/tag/0.10.0).

[2016-04-13 18:53] #25 closed

[2016-04-13 18:54] JamieMason commented on #23
Thanks a lot for your help, this should be improved in [0.10.0](https://github.com/JamieMason/shrinkpack/releases/tag/0.10.0).

[2016-04-13 18:54] #23 closed

[2016-04-13 18:55] JamieMason commented on #22
Hi all, please could you retry this using [0.10.0](https://github.com/JamieMason/shrinkpack/releases/tag/0.10.0) and re-open if you find issues? thanks.

[2016-04-13 18:55] #22 closed

[2016-04-13 18:55] JamieMason commented on #21
Released in [0.10.0](https://github.com/JamieMason/shrinkpack/releases/tag/0.10.0).

[2016-04-13 18:55] #21 closed

[2016-04-13 23:42] ryanxcharles opened #30 "Cannot read property 'shrinkpack' of undefined"
Just updated to the latest version of shrinkpack, and I get this error:

[code]

Here is the full output from my terminal:
[code]

[2016-04-14 05:54] JamieMason commented on #30
Thanks for this Ryan, could you post your package.json or npm-shrinkwrap.json please?

[2016-04-14 15:51] marxian opened #31 "Running npm install against a shrinkpacked project pushes the local file resolution into the npm cache."
#### Expected behaviour
It should be possible to rerun shrinkpack if new dependencies have been added to an npm-shrinkwrap file.
...

#### Actual behaviour
shrinkpack detects that some of the dependencies resolve to tarballs in npm_shrinkwrap/ and exits explaining that it has nothing to do.

I think this is the commit containing the faulty logic: https://github.com/JamieMason/shrinkpack/commit/409

[2016-04-14 16:04] JamieMason commented on #31
Thanks a lot for this, will pick it up on the weekend.

[2016-04-14 21:21] jordalgo commented on #30
I got this error too. I'm on node 0.12.7 and npm 2.15.3. Sorry but I can't post my package.json file.

[code]

[2016-04-15 02:17] ryanxcharles commented on #30
Today, I tried the same thing and it worked with no error. I will leave it up to you whether to close the issue though :) I think there is probably still a bug.

Here is my package.json (npm-shrinkwrap.json is too big to fit in a comment):

[code]

[2016-04-15 11:00] jordalgo commented on #30
To give a bit more context. I got this error when I tried to upgrade a package when I already had a shrinkpacked shrinkwrap file. I reproduced with these steps:

[code]

[2016-04-18 00:18] markerikson opened #32 "Local package resolution is very slow"
#### Expected behaviour
Running "shrinkpack" and having unresolved packages should be able to resolve almost all the packages very quickly, since Shrinkpack just needs to open up the correct package.json for each unresolved dependency.

#### Actual behaviour
Running Shrinkpack on an npm-shrinkwrap.json with roughly 250 unresolved dependencies takes at _least_ 10-15 minutes to execute, with Node pe

[2016-04-18 22:12] #30 closed

[2016-04-18 22:35] JamieMason commented on #31
I just want to check I understand correctly, are these the steps you're following?
1. `git clone your/project`
2. `npm install`
3. `npm shrinkwrap --dev`
4. `shrinkpack`
5. `npm install something-new`
6. `shrinkpack`

If so, I _think_ the error is correct and these steps should work.
1. `git clone your/project`
2. `npm install`
3. `npm shrinkwrap --dev`
4. `shrinkpack`
5. `npm install something-ne

[2016-04-18 22:38] JamieMason commented on #32
A change based on your PR has been released in 0.10.2, please let me know your thoughts @markerikson. Thanks again for your great help, grateful for your time.

[2016-04-18 22:38] JamieMason commented on #27
This is released, thanks a lot – much better after your changes.

[2016-04-18 22:38] #27 closed

[2016-04-19 07:50] objerke opened #34 "Shrinkpack crashes when updating dependencies"
#### Expected behaviour
shrinkpack command produces an updated npm-shrinkwrap.json and an updated node_shrinkwrap folder when a new package has been installed and npm shrinkwrap --dev has been executed.

#### Actual behaviour
Shrinkpack gets a type error and crashes.

#### Steps to reproduce
1. Create a new folder
1. Run ```npm init -y ```
1. Install shrinkpack globally ```npm install shrinkpack -

[2016-04-19 07:54] JamieMason commented on #34
Thanks @objerke, looking now.

[2016-04-19 08:01] JamieMason commented on #34
Ah, I've just seen the version is 0.10.0, please try 0.10.2 as I think this issue is the same as #30.

Please reopen if you still have issues. thanks.

[2016-04-19 08:01] #34 closed

[2016-04-19 12:19] objerke commented on #34
Thank you, the new version worked!

[2016-04-19 16:33] markerikson commented on #32
Hmm.  Just tried out 0.10.2, and a couple things don't seem right:

First, Shrinkpack is now declaring that almost every item in my npm-shrinkwrap.json file is missing a "resolved" property:

[code]

This seems to be due to bb8f7df8b2543998ef2214ac1a87ba854cf15e50 , and I'm not sure I follow the reasoning behind it.

Second, it looked like Shrinkpack successfully updated all missing "resolved" pro

[2016-04-19 16:50] JamieMason commented on #32
Yeah, this was a bad idea at gone 11pm. I've reverted it in develop, which I'll push shortly.

Thanks, I'll check this out next.

[2016-04-19 16:55] markerikson commented on #32
Aww, c'mon!  Everyone knows that you're supposed to program _better_ late at night, not worse! :)

At the moment I'm not sure if the behavior I'm seeing is entirely a "real" bug with Shrinkpack, or whether it's due to the project config I've been testing it on.  I'll poke around this evening to try to get a better idea what's happening.

[2016-04-19 17:04] JamieMason commented on #32
hehe, I'm an early bird :)

I'm looking to improve the logging in that area at the moment as it's fairly complicated now. Broadly speaking the way it works at the moment is;
1. optimistically look for a package.json in npm 3's flat structure.
2. if that fails, run glob for package.json files once and cache the results in memory.
3. query that object for each dependency that needs resolving.
4. loo

[2016-04-19 19:26] JamieMason opened #35 "False positive for cached package version"
shrinkpack tried to read object-assign@3.0.0 from the cache...

[code]

but it was not there, although other versions were.

[code]

[2016-04-19 20:03] JamieMason commented on #35
This can happen when the package.json used to resolve the tarball does not match the version required.

[2016-04-19 20:23] #35 closed

[2016-04-19 21:02] lime commented on #32
It's exciting to follow along with the rapid development here, thanks for the work you're doing!

I tried out the newest changes on a large npm 2 repo, and my node process ran out of memory. 😅 Some quick benchmarking showed that async `glob` uses quite a lot of memory compared to `glob.sync`. It also looks like `sync` in fact is the faster of the two.

I'll submit a PR.

[2016-04-19 21:34] JamieMason commented on #32
Brilliant, thanks @lime that's a great find.

[2016-04-19 21:53] JamieMason commented on #32
Making a note of something I've just realised. At the moment I fix _all_ of the missing resolved properties, but resolving the tarball should actually only be needed for packages which 1) need adding to shrinkpack and 2) are not already cached by npm.

[2016-04-20 07:44] JamieMason opened #37 "Shrinkpack fixes some missing `resolved` properties it doesn't need to"
#### Expected behaviour

[code]

#### Actual behaviour

[code]

#### Software versions used

[code]

[2016-04-20 13:49] gajus opened #38 "Discussion: Approaches to bundle node-sass for offline installation?"
If my project has a dependency on https://www.npmjs.com/package/node-sass (or whatever else library with bindings to programs that require compiling), does shrinkpack bundle binaries associated with the package?

Does it bundle all sources or only sources specific to the platform used to prepare the shrinkpack (which would cause problems when developing on one OS and deploying to a different OS).

[2016-04-20 14:34] JamieMason commented on #38
Hey @gajus,
Is this what you mean? If I did this on OSX

[code]

Then cloned the "test" git repo on Windows and did an `npm install`?

I've not tried `node-sass`, but I know with `phantomjs` for example that the appropriate binaries would be installed according to the platform doing the installation.

It's the same tarball as a normal npm install uses, so any per-platform logic within that tarball

[2016-04-21 08:51] lime commented on #31
We may have stumbled upon a situation where running `npm shrinkwrap` still leaves you with a `npm-shrinkwrap.json` that contains `node_shrinkwrap/` (causing `shrinkpack` to exit):

In a shrinkpacked project, if I empty out my npm cache and install, any later shrinkwrapping will reference `file:node_shrinkwrap/...` instead of `https://registry.npmjs.org/...`:

[code]

[code]

[code]

This is on nod

[2016-04-21 08:59] JamieMason commented on #31
Great, seems that maybe the first time something is resolved by npm, it keeps the reference - including file paths rather than just http.

Nice spot, will need to have a think how best to tackle that and at what times it's needed.

[2016-04-21 09:53] marxian commented on #31
@lime has it.

Running `npm install` against a shrinkpacked project pushes the local file resolution into the npm cache. This affects later resolution of the same module, even in different, non-shrinkpacked projects.

Here's an attempt at demonstrating the issue, sorry if it is hard to follow:

[code]

[2016-04-21 10:20] JamieMason commented on #31
@lime, @marxian – this is _really_ useful. I think the next steps would be to try and find out more about where npm keeps this information so we can protect/repair it when this happens.

I'll see what I can find, thanks so much for digging out all this info.

[2016-04-21 10:21] gajus commented on #38
The thing is that `node-sass` package itself does not contain the binaries.

[code]

[code]

If you proceed to download https://registry.npmjs.org/node-sass/-/node-sass-3.5.1.tgz, you will see that it is just a script that chooses which binary to download from URL defined in package.json `nodeSassConfig.binarySite`.

The production environment in which I am working restricts any outgoing internet

[2016-04-21 10:37] JamieMason commented on #38
I see, `node-sass` would install correctly using `shrinkpack` under normal circumstances it seems then, but the internals of `node-sass` specifically dictate that an internet connection is a minimum requirement at install-time.

There are alternative approaches to this problem where caching proxies/mirrors are used, which might be better suited to you than `shrinkpack`. That said, they _might_ not

[2016-04-21 10:39] JamieMason commented on #38
That said, you might still be left with the issue where James installs node-sass on Windows and a mirror records the network activity, but Laura runs the cached install on Linux and receives the wrong binary, or misses the cache and tries to hit the network for the Linux binary.

Depending on how these mirrors work, you might be able to prime the cache by running installs of node-sass first from e

[2016-04-21 10:43] glenjamin commented on #38
Hrm, good question. I've not tried to ensure that `node-sass` can install without an internet connection.

My usual approach is instead of running `npm install` on production machines, is to do the `install` on a CI machine and produce a tarball of the result.

The tarball is then what gets deployed and unpacked to the production machines.

[2016-04-21 13:01] webuniverseio commented on #38
@gajus sounds like you only care about windows. If that is a case I think you can fork node-sass github repo, checkout on your local and run `npm run build` (or maybe `postinstall`) so that binaries are downloaded/compiled. Then commit binary together with other changes (I assume you'll want to remove postinstall script, since it is not needed anymore. Maybe something else...) to your forked repos

[2016-04-21 15:19] gajus commented on #38
@szarouski I will use the advise. I will branch `node-sass` and release a version that includes all the binaries.

[2016-04-21 15:20] gajus commented on #38
I don't think there is a reasonable way to address this within `shrinkpack` domain. While it would be possible to write custom logic specific to `node-sass` (for fetching all the binaries prior to packaging), it would be of little value as it does not appear as an approach shared between many libraries.

[2016-04-21 15:27] JamieMason commented on #38
I think you're right @gajus, it is something specific to node-sass.

Thanks all for your help, really interesting issue.

[2016-04-21 15:27] #38 closed

[2016-04-22 09:49] JamieMason commented on #37
This has been pushed to develop.

[2016-04-22 09:50] JamieMason commented on #32
@lime's glob.sync change has been released and the change in https://github.com/JamieMason/shrinkpack/commit/b2cf8b3d6c1ca9bffd8a9a24b36145f9ed8df536 should also help a lot once released.

[2016-04-22 17:06] jonahx commented on #31
I just got bit this myself today.  I'd like to help if I can, but I'm not sure I understand exactly what is going on.  If someone could provide another explanation I will look into this myself as well.  Thanks.

[2016-04-22 21:28] rmacklin commented on #31
I just ran into this as well. I had a roundabout way of getting around it:

[code]

If @lime's change produces the same end result as those steps, that'd be a much better workaround until this is fixed.

[2016-04-24 22:41] JamieMason commented on #31
@lime, @marxian – can you see what I might be doing wrong here? I'm trying to reproduce the issue where a shrinkpacked tarball path leaks into the npm cache. I've seen it happen before, but can't get it to happen. The following is based on @marxian's example, but am I missing something?

[code]

I saved this as  `reproduce.sh` and ran `chmod +x reproduce.sh`, then ran it with `./reproduce.sh`.

[2016-04-24 23:07] #37 closed

[2016-04-25 07:08] lime commented on #31
Interesting. My first thought was that you might need to do something like `rm -r node_modules` and `npm cache clean` before the `npm install` on line 10, to simulate e.g. someone else checking out a shrinkpacked repo and installing it the first time.

However, I ran your script verbatim, and got the expected result:

[code]

Did you get the registry URL in the final output? If so, there must be s

[2016-04-25 07:11] lime commented on #31
Well, with npm 3.8.7 I get `"resolved": "https://registry.npmjs.org/leftpad/-/leftpad-0.0.0.tgz"`, so that probably explains it.

I'll see if I can reproduce the issue on npm 3.

[2016-04-25 07:20] lime commented on #31
Looks like I was on the right track; if you clean the cache and remove `node_modules` in-between, you should get the `file:` version on npm 3 as well.

[code]

[2016-04-25 07:20] marxian commented on #31
The script @lime provides above reproduces the issue for me under both:

`node 4.4.3` + `npm 2.5.1`

and

`node 5.4.0` + `npm 3.8.8`

[2016-04-25 19:41] JamieMason commented on #32
let me know if it's any better in the latest version @markerikson?

[2016-04-30 22:20] Daniel15 opened #40 "Convert npm's compressed tarballs to uncompressed."
Just discovered this project today through a comment on Reddit. Interesting project!

One thing that came to mind is that source control systems may not handle compressed tarballs very well, as every update to a package would result in a new copy of the entire file in the repo, which can make the repo very large. Perhaps *uncompressed* tarballs (ie. `.tar` files, not `.tar.gz` or `.tgz`) would be

[2016-05-03 16:09] webuniverseio commented on #40
Hi @Daniel15 I was experimenting with git lfs to get around the issue, but unfortunately it appeared to be quite slow as for every checkout from lfs it was taking 3 seconds per package to get downloaded. I didn't make any research yet, but I hope there is a way to speed up that process as if you have 1k of packages it will take forever to checkout.

[2016-05-03 16:53] mlarcher commented on #29
Is O.10 actually still supported ? We are stuck with it and when trying to use shrinkpack we get an error `TypeError: Object #<Object> has no method 'execSync'`. It seems that childProcess.execSync was introduced in 0.11 but is used in isNpm3Up.js. Thoughts ?
N.B. if older version of node are not supported anymore, I'd be happy to know which older version of shrinkpack we can safely use with node

[2016-05-03 16:57] fanatid commented on #29
@mlarcher 0.10 will be supported until 2016-10-01. You can familiarize with schedule here: https://github.com/nodejs/LTS
`execSync` was added in 0.12

[2016-05-03 21:30] mlarcher commented on #29
@fanatid : I meant supported by shrinkpack, obviously. Thanks for pointing out the correct node version implementing the concerned function,  though :)

[2016-05-06 20:28] rdomingue opened #41 "Cannot run NPM install"
If reporting a bug, please use the following template.

#### Expected behaviour
First I have several errors when running SHRINKPACK ... but when it passes I'm trying to run an npm install on my computer or another one that has pulled the projet and I get errors like :

npm WARN package.json critemplate@0.0.3 No repository field.
npm ERR! tar.unpack error reading C:\_projects\cri-planprojet\node_sh

[2016-05-08 21:29] JamieMason commented on #29
Thanks guys, I'll get this fixed. I need to set up nvm or similar on my home machine, I currently just have a global install of node v4.

[2016-05-08 22:40] mlarcher commented on #29
Great news @jamieMason ! Please let me know if I can be of any assistance.

[2016-05-09 12:03] JamieMason opened #42 "Setup autochecker"
Test your libraries in many different versions of NodeJS, Ruby, Java and many other languages http://victorbjelkholm.github.io/autochecker/

[2016-05-10 10:25] JamieMason commented on #40
Thanks for raising this @Daniel15. Initially I'm a little wary of diverging from npm's approach by using tarballs which aren't identical to theirs, however the point raised is good and valid, so should be investigated.

Unless someone offers a PR, I'll pick this up as part of performance improvements after bugs and features have been completed.

[2016-05-10 10:31] JamieMason commented on #41
Hi @rdomingue,
Do I understand correctly? You ran shrinkpack on your project and that process completed fine without any errors? but later if you were to clone your project and run `npm install` – it's then that you get these errors?
- Are the contents of `cri-planprojet/node_shrinkwrap` checked into Git?
- Is `npm-shrinkwrap.json` checked into Git?
- Does running `npm cache clean` then `npm insta

[2016-05-10 11:26] JamieMason commented on #31
Thanks @marxian, @lime – I've been on holiday but will pick this up again soon.

[2016-05-10 13:20] rdomingue commented on #41
Not exactly. In fact, when I ran shrinkpack it gave me errors. But I was able to do it a couple of time and finally got it without errors. It's was more like some npm gave errors but retrying them it was able to pass. But, no matter the fact that I finally got it without errors. Anytime I try to run a NPM install I get a lot of errors like the one mentinonned in my first post. Yeah the npm-shinkwr

[2016-05-10 13:28] rdomingue commented on #41
It's maybe two issues in fact so here is an exemple of when I'm trying to run shrinkpack on another project :

[code]

[2016-05-10 13:51] JamieMason commented on #41
Let's go from a fresh start;
1. delete `./npm-shrinkwrap.json`
2. delete `./node_shrinkwrap/`
3. delete `./node_modules/`
4. run `npm cache clean`
5. run `npm install`

You should have a clean repo now.
1. check the read/write file permissions in your repo, do you have rights to read and write all files in there?
2. run `npm shrinkwrap --dev`
3. run `shrinkpack`
4. post here any issues and mention

[2016-05-10 13:53] JamieMason commented on #41
Your 2nd issue mentioned in https://github.com/JamieMason/shrinkpack/issues/41#issuecomment-218156904 though is a known issue in #31 – to workaround this for now we need to run `npm cache clean` and retry the installation.

[2016-05-10 14:43] rdomingue commented on #41
I'm trying what you wrote.... For now I'm running the shrinkpack and still running (around 30 mins of set missing "resolved" property....)
I'll post you back the result

[2016-05-10 15:04] rdomingue commented on #41
Here is the result for the shrinkpack

[code]

[2016-05-10 15:26] rdomingue commented on #41
Second tentative of shrinkpack

[code]

Third tentative :

[code]

fourth

[code]

fifth times ... and no errors ;

[code]

So now I delete ./node_modules/
and run npm install --loglevel http

So now I have a big bunch of :

[code]

Sorry for the long post... so I wasn't able to use it again.

[2016-05-10 17:51] JamieMason commented on #41
Thanks a lot, I'll look into it. Are you on the latest shrinkpack?

[2016-05-10 18:17] rdomingue commented on #41
0.12.3

[2016-05-11 11:43] mlarcher commented on #41
Just passing by, but are you sure about the health of your hdd ? this looks like random data corruption to me.

[2016-05-11 17:58] rdomingue commented on #41
Humm I'm not but this happens on two different PC.

[2016-05-12 20:45] #32 closed

[2016-05-12 21:30] markerikson commented on #32
Ah... yes, sorry, been busy with other tasks.  Overall, it appears to be _much_ better at this point.  Thanks for all your hard work on this!

[2016-05-20 15:43] gleseur opened #45 "Change made in npm 3.8.8 breaks shrinkpacked projects"
We are not able to run npm install with recent npm versions

#### Expected behaviour
npm install with success on all (at least recent npm versions)

For now, we'll just keep on using a compatible npm version, but at some point, this is going to be an issue.
...

#### Actual behaviour
Did not try for all npm versions, but with 3.8.3 it is working fine, while with 3.8.9 or 3.9.2 (currently latest) n

[2016-05-21 10:42] zenyr commented on #45
npm 3.8.7 also seems to work, I guess?
(used `npm i -g npm3` a few weeks ago, resulting `npm3 -v` == 3.8.7 & `npm -v` == 2.15.0)

A colleague of mine who had set her system up recently is also having this issue.
(not sure of the exact npm@3 version but updating `npm` was not working for her, while 100% identical shrinkwrap.json had worked on mine & another colleague just fine.. removing shrinkwrap

[2016-05-23 01:36] aliebuck commented on #45
Can also confirm that the issue is replicable on npm 3.8.8 and newer.

[2016-05-23 10:36] JamieMason commented on #45
Thanks @jacobbuck @zenyr @gleseur, I noticed this myself recently too. Another `npm` quirk to add to the ever-growing list to work around 😣

[2016-05-27 05:59] alejandronanez opened #46 "npm install not working"
#### Expected behaviour

I can install dependencies using `npm i`

#### Actual behaviour

I can't install dependencies

#### Steps to reproduce

`npm i`

#### Software versions used

[code]

#### Log output when running shrinkpack

[code]

#### Contents of your npm-shrinkwrap.json or package.json

SHRINKPACK
[code]
PACKAGE.json
[code]

[2016-05-27 06:18] JamieMason commented on #46
Thanks for the detailed report @alejandronanez, could you try downgrading npm to a version older than 3.8.9 (see #45) for the moment and see if that works?

[2016-05-27 22:21] alejandronanez commented on #46
@JamieMason Golden! Tried with npm 3.8.0 and worked like charm.
Thank you!

[2016-05-27 22:21] #46 closed

[2016-05-30 17:21] JamieMason commented on #45
**Summary of what's known so far;**

1) It can be reproduced using the following steps

[code]

2) The [package.json](https://github.com/JamieMason/shrinkpack/files/289920/package.json.txt) and [npm-shrinkwrap.json](https://github.com/JamieMason/shrinkpack/files/289921/npm-shrinkwrap.json.txt) are attached to this issue.
3) The above works up to version v3.8.7 of npm, then fails in v3.8.8.
4) v3.8

[2016-05-30 17:33] JamieMason commented on #45
Among the changes were updates to these packages used by npm;

https://github.com/npm/npm-package-arg
– Parse the things that can be arguments to `npm install` http://npm.im/npm-package-arg

https://github.com/npm/realize-package-specifier
– Like npm-package-arg, but more so, producing full file paths and differentiating local tar and directory sources.

It's probable that it was a change in one o

[2016-05-30 17:37] JamieMason commented on #45
cc-ing @zkat – would you be able to help us please?

[2016-05-30 17:38] JamieMason commented on #42
Resolved, used a similar approach using Docker instead: https://github.com/JamieMason/shrinkpack/commit/4e7980b032f9a02948b683040fbce4aed92397fd.

[2016-05-30 17:38] #42 closed

[2016-05-30 17:42] JamieMason commented on #41
Sorry but I'm not sure what to do about this, I need something a little clearer to help narrow it down – would it be possible to reopen with a sequence of commands to reproduce it please? (similar to https://github.com/JamieMason/shrinkpack/issues/45#issuecomment-222530560).

[2016-05-30 17:42] #41 closed

[2016-05-30 17:49] JamieMason commented on #31
I had an idea recently which _might_ help.

You can [configure where npm keeps it's cache](https://docs.npmjs.com/misc/config#cache), so it might be possible to avoid this issue by having `shrinkpack` set a different cache location while it's running, then restore it afterwards.

The theory is that this could keep the general use npm cache from being polluted.

What do you think @marxian, @lime, @

[2016-05-31 08:04] lime commented on #31
That sounds like it could help. However, as far as I can see, the cache gets polluted at the time of running `npm install` against the shrinkpacked repo. That's outside the lifetime of the `shrinkpack` command, so we're not in a good position to change which cache dir gets used. Hm.

[2016-05-31 08:06] lime commented on #31
Of course, we could instruct users to set a project-specific cache. It might even be enough to use the same, separate cache for all shrinkpack projects. It feels really clunky, but could be an ok workaround for those who face this issue.

Similarly, shrinkpacked projects might be ok with not using the cache at all. Maybe that can be achieved by setting `cache-max` to `0`, or  `cache` to `/dev/null

[2016-06-01 20:12] iarna commented on #45
Hey you all:

So, the change here was that local-type dependencies are resolved relative to the package that required them.

This is, I think, absolutely the correct behavior for specs coming from the `package.json`.

But it does seem confusing (and probably wrong) for `npm-shrinkwrap.json`, there I think it should resolve relative to the location of the `npm-shrinkwrap.json`. Initial testing show

[2016-06-01 20:19] JamieMason commented on #45
Brilliant Rebecca, thanks so much 👍😊

[2016-06-22 21:12] maxkostow commented on #31
Any progress on this? I was testing this project out and immediately ran into this situation.

[code]

[2016-06-23 07:19] lime commented on #31
@maxkostow I believe all the progress we have made is visible in this issue. As mentioned above, a potential workaround might be found by fiddling with the `cache` & `cache-max` settings in `package.json`, but I haven't tried it out myself.

[2016-06-23 07:56] JamieMason commented on #31
I'll add a section to the README once I confirm the following is 100% correct, but as @lime said, the fix _should_ be to override the npm cache location and expiry time for project's using shrinkpack. This is so that the main npm cache isn't updated to contain an entry from your own file system.

This isn't a shrinkpack issue per se, but an example of what happens if you install a package from som

[2016-06-23 18:43] maxkostow commented on #31
Unless I misunderstand the solution, that moves the problem from the global npm cache to a local npm cache. `npm install`s within the project will still be affected by the issue.

[2016-06-23 18:51] JamieMason commented on #31
If the project is using shrinkpack, the file paths in that cache should resolve. If you were to delete the tarballs and the npm-shrinkwrap.json as well, as part of a kind of hard reset of your dependencies, you're right, it could happen then.

As part of that reset process you would also need to delete the local project npm cache.

It's still an npm gotcha we have to live with, but is hopefully mo

[2016-06-23 19:00] kkemple commented on #17
For anyone who runs into this and doesn't want to wait for the NPM fix here is a workaround :: https://github.com/bocoup/service-catalog/blob/fe3fab7fc67d7b0e595db59e90377b5a8dbe7338/tools/fix-shrinkwrap.js

[2016-06-23 19:22] JamieMason commented on #17
Thanks a lot Kurtis, that'll be handy.

[2016-06-23 20:42] maxkostow commented on #31
I did misunderstand, my apologies. I was conflating the contents of the `npm-shrinkwrap.json` with the contents of the cache. It's not a problem that on subsequent `npm shrinkwrap`s the `node_shrinkwrap` files get written to the `npm-shrinkwrap.json` and if you are using a local cache, `node_shrinkwrap` will not be written to the global cache.

[2016-06-24 07:26] 5id opened #49 "Add a contributors.md"
It would be great to have a contributors.md file to make getting set up and familiarising with the project easy

Off the top of my head probably the main things would be:
- Code style (semi-standard)
- Format for creating issues, e.g. feat(shrinkpack): description
- How to install / test the package
- What tests should be included

Github has a link to guidelines here, with links to example: https

[2016-06-24 07:32] JamieMason commented on #49
Good idea @5id, thanks.

[2016-06-26 19:21] lime commented on #31
I tried this out using the [reproduction script above](https://github.com/JamieMason/shrinkpack/issues/31#issuecomment-214177709). Setting a project-specific `cache` does indeed seem to help, while setting both `cache-min` and `cache-max` to zero had no effect at all.

I can confirm that the minimum setup required is to add an `.npmrc` with `cache` set to a project-specific directory, and `.gitign

[2016-06-26 19:39] maxkostow commented on #31
I tried creating a `preinstall` script that would generate the `.npmrc` before install (and delete during `postinstall`) but I think npm loads the config at startup and does not reread the new `.npmrc` on subsequent commands so couldn't have a transient "cache".

I also ran into issues with the "callback called more than once" npm error when running on CI so I will be sticking with [npm_lazy](http

[2016-06-26 20:49] JamieMason commented on #31
Please can you raise an issue for this? i can try and fix it, thanks,

[2016-06-26 21:02] maxkostow commented on #31
It's during `npm install` so I don't believe it has anything to do with the shrinkpack itself.

[2016-06-26 21:05] JamieMason commented on #31
OK no worries, thanks.

[2016-06-27 01:13] marcins opened #50 "Shrinkpack fails to download from private registries that require authentication"
#### Expected behaviour

Shrinkpack can download packages from a private registry, where the registry has already been authenticated against using `npm login`.

#### Actual behaviour

Downloads fail with a 401 (Unauthorized) error.

#### Steps to reproduce

* Have a private NPM registry
* Have a package from your private NPM registry in your `package.json` / `npm-shrinkwrap.json`
* Run `shrinkpack

[2016-06-27 03:12] medifle commented on #45
npm@3.9.5

#

Updates 6-28

I experienced the path problem when I was using shrinkpack to `npm install`.

So I went for npm-ducttape. No path problem occurs.

#

[npm-ducttape](https://github.com/DeadAlready/npm-ducttape) create an npm-shrinkwrap.json like this

[code]

It works fine without throwing the path error.

[2016-06-27 03:23] markerikson commented on #45
Oh hey.  Saw this the other day when I was getting a new dev spun up on the prototype I've been working on, but didn't manage to pull up this issue while trying to figure it out.  Also apparently didn't read this issue all that closely when I +1'd it, either, because it didn't cross my mind.  Glad to know there's at least a known issue involved.

[2016-06-27 07:10] JamieMason commented on #45
@medifle can you clarify whether you were using `shrinkpack` or `npm-ducttape` please? I can't tell from your comment, thanks.

[2016-06-27 07:22] JamieMason commented on #50
Thanks a lot for this @marcins, I _think_ this should be fixed soon by @5id's PR #47 👍

[2016-06-27 07:26] JamieMason commented on #45
Update: I've tried npm@3.10.2 this morning and can confirm the issue still stands. npm have been really helpful and have said a fix will come when they get the time, but please continue with `<3.8.8` until then.

[2016-06-27 08:06] JamieMason commented on #40
Digging into it this morning, it seems to be as simple as running eg. `gunzip lodash-4.11.1.tgz`. This will convert the tar from compressed to uncompressed in-place.

I've run this from my mac then tried an `npm install lodash-4.11.1--uncompressed.tar` on windows, which worked.

I will probably implement this behind an option such as `shrinkpack --uncompressed`.

[2016-06-27 08:27] JamieMason commented on #17
Reopening to apply bocoup's fix as per @kkemple's https://github.com/JamieMason/shrinkpack/issues/17#issuecomment-228150971.

[2016-06-27 22:45] marcins commented on #50
Awesome, yeah - that looks like it'll do the trick. I checked for open issues but didn't think to check for open PRs, thanks!

[2016-06-27 22:57] iarna commented on #45
Hi all! My plan is to get a fix for this into this week's npm release. It's a short week for me (I'm only in today and tomorrow) but I'm optimistic. My colleague @zkat will be handling the release this week.

[2016-06-28 04:17] 5id opened #51 "Verify shrinkpack-ed packages are the same as remote"
Interested on your thoughts about having the ability to run something like `shrinkpack --verify`, which would attempt to redownload the original package tgz found in the npm-shrinkwrap.json file (rather than using the local), and compare the checksums against the files in node_shrinkpack.

This would give us confidence that what is stored in the repository, matches the packages remotely. My concer

[2016-06-28 07:13] JamieMason commented on #51
I'd be hesitant to have the scope of `shrinkpack` creep too far I think @5id. I think there could be a case though for someone taking these ideas and making a general purpose shrinkwrap verification tool, which isn't coupled to `shrinkpack`.

[2016-06-28 07:13] #51 closed

[2016-06-28 08:12] JamieMason opened #52 "Speed up Dockerised tests"
I think a lot of gains can be made by making better use of the [Dockerfile](https://github.com/JamieMason/shrinkpack/blob/master/Dockerfile), by moving things we wait for during the run phase into the build phase.

**Notes/Ideas**

* Where we currently have `FROM node:4.2.4`, reference a base image which sets up the `shrinkpack` test environment.

  In the `Dockerfile` for that base image;
  * Pri

[2016-06-28 11:47] 5id commented on #52
I experimented with something similar where I moved the npm install of the control folder into the dockerfile, before realising that it stuffed up supporting different npm versions; so I think that's a much better way to tackle it.

You'll likely need to change the config cache-min to be something high so npm doesn't try to refetch.

Running the caching proxy in the same Dockerfile is possible, th

[2016-06-28 11:52] JamieMason commented on #52
Updated to include your point on cache-min, cheers! agree re: private repos too.

[2016-07-01 04:16] iarna commented on #45
The fix was released today in 3.10.4!

[2016-07-01 06:51] maiis opened #53 "Uninstall but still present ?"
#### Expected behaviour
After uninstalling shrinkpack, I'd except my npm-shrinkwrap.json not to refer to file:node_shrinkwrap
#### Actual behaviour
npm-shrinkwrap.json still contains references to node_shrinkwrap/
#### Steps to reproduce
npm uninstall -g shrinkpack
npm shrinkwrap
#### Software versions used

OS         : OS X 10.11.5
node.js    : v6.2.2
npm        : 3.10.4
#### Log output when run

[2016-07-01 08:56] JamieMason commented on #45
Woo! thanks @iarna

[2016-07-01 09:10] JamieMason commented on #53
Thanks for raising this @maiis.

I think there is a difference between removing the files that make up the tool itself and removing/undoing the things you did while using the tool. For example, if I were to use [ImageOptim](https://imageoptim.com/mac) to optimise a folder of images and then uninstalled ImageOptim – I wouldn't expect all those images to be deoptimised afterwards.

There are other e

[2016-07-01 09:15] maiis commented on #53
@JamieMason LOL you are right but that wasn't my problem.
I've undo everything, except if there is some special things to do to uninstall ?
I deleted node_shrinkwrap folder and npm-shrinkwrap.json, then re-run "npm shrinkwrap" so a new .json is created with resolved containing "file:node_shrinkwrap/xxx"... hence my confusion

[2016-07-01 09:20] JamieMason commented on #53
haha, I did wonder for a minute there. Ok, I think I understand now – does this work?

[code]

[2016-07-01 09:34] maiis commented on #53
It does...
npm cache clear, forget to do that.
I knew it was something obvious, thanks for your help 👍

[2016-07-01 09:36] JamieMason commented on #53
You're welcome, I think this is actually another example of the problem being looked at in #31.

[2016-07-01 09:36] #53 closed

[2016-07-01 14:27] #45 closed

[2016-07-01 14:27] #49 closed

[2016-07-01 14:27] #50 closed

[2016-07-05 08:35] JamieMason opened #54 ""@latest" in npm-shrinkwrap.json skips shrinkpack"
#### Expected behaviour

`npm install --loglevel http` should report no network activity when installing a shrinkpacked project.

#### Actual behaviour

Network activity is reported in some circumstances (see below).

[code]

#### Steps to reproduce

Have a dependency in `npm-shrinkwrap.json` which has a `from` containing `@latest` such as;

[code]

#### Software versions used

[code]

[2016-07-05 08:52] JamieMason commented on #54
`@latest` seems to not be relevant after all, removing all `"from"` entries from `npm-shrinkwrap.json` has no effect.

[code]

[2016-07-05 09:55] JamieMason opened #55 "Use a local npm cache instead of copying?"
Currently `shrinkpack`

1. Populates the cache located at `npm config get cache`.
1. Copies the tarballs to `./node_shrinkwrap`.
1. Rewrites `npm-shrinkwrap.json` to point at eg `file:node_shrinkwrap/lodash.isarray-3.0.4.tgz`.

This issue proposes that instead `shrinkpack`;

1. Set `cache=node_shrinkwrap` in `.npmrc`.
1. Rewrites `npm-shrinkwrap.json` to point at eg `file:node_shrinkwrap/lodash.is

[2016-07-05 09:57] JamieMason commented on #55
Feedback welcome.

Not sure whether this is a good idea: on the face of it there are some good positives but, while avoiding some traps, it brings others of its own.

[2016-07-06 06:50] 5id commented on #51
@JamieMason just fyi, I investigated how hard it would be to do this. Fortunately, all remote packages already have a shasum that gets returned in the package json so all we need to do is calculate the sha of the file.

NPM does appear to do a shasum check against the tar when it installs a package - when using shrinkwrap it doesn't seem to do the same check. At least, I replaced one tar with anot

[2016-07-06 08:00] JamieMason commented on #51
I'm away now until the weekend but I'll have a think whether to add this. I need to understand it better which your last comment will help with when I get back.

[2016-07-06 11:00] aju opened #56 "Unable to install shrinkpacked module"
#### Expected behaviour
Installing shrinkpacked module as dev dependency
...

#### Actual behaviour
Throws erros like: `ENOENT: no such file or directory, open '/Users/anmaciur/Projects/kkk/node_modules/style-guide/node_shrinkwrap/abbrev-1.0.9.tgz'`
...

#### Steps to reproduce
Hi I have a project https://github.com/brainly/style-guide/tree/v44.0.1
that I want to install as dependency. Running com

[2016-07-06 11:05] JamieMason commented on #56
I'm on a train now but that looks like the npm issue in #45, can you verify you're definitely on 3.10.4?

[2016-07-06 11:15] aju commented on #56
I installed it today using `sudo npm install -g npm@3.10.4` previously I was on `3.8.7` and it was not working as well. In my shripkwrap file i have paths like `./` shouldn't it be like `file:` ??

[2016-07-06 11:26] JamieMason commented on #56
Can you try: npm cache clear, delete shrinkwrap JSON, run shrinkwrap, run shrinkpack?

[2016-07-06 11:32] aju commented on #56
I did try it as well :( - please try running `npm i git+https://github.com/brainly/style-guide.git#v44.0.1` in empty folder.

[2016-07-06 11:35] JamieMason commented on #56
Damn, sorry about this. I am away until the weekend but will look into it and arrange a fix once I'm back.

[2016-07-06 11:35] aju commented on #56
Thank you for fast replay :)

[2016-07-06 14:52] lonormaly opened #57 "Help with installing Phantomjs"
Hello,

Thanks for this amazing tool!
For some reason, we fail to install Phantomjs-ext. Any idea on how to achieve that?

Cheers,
Shai

[2016-07-06 14:53] JamieMason commented on #57
Hi Shai, I'm away until the weekend but will take a look when I get back. Thanks.

[2016-07-06 17:24] brutuscat commented on #55
Well this looks like a show stopper... https://github.com/npm/npm/issues/7140

[2016-07-06 17:28] brutuscat commented on #41
@JamieMason having this issue too, I'll try more stuff tomorrow and see if I could post some useful info.

[2016-07-06 18:46] JamieMason commented on #41
Thanks Mauro, that'd be great.

[2016-07-06 22:44] JamieMason commented on #55
Thanks, yeah I think this overall is a bad idea.

[2016-07-06 22:44] #55 closed

[2016-07-07 09:27] brutuscat commented on #56
~~I got this fixed using npm npm >= 3.10.4~~

[2016-07-07 09:32] aju commented on #56
@brutuscat are you able to run `npm i git+https://github.com/brainly/style-guide.git#v44.0.1` ??

[2016-07-07 14:04] yaroslavya opened #58 "shrinkpack command error failed to download @angular/platform-browser@2.0.0-rc.4"
If reporting a bug, please use the following template.

#### Expected behaviour

shrinkpack should get the files from the node_modules folder and put them under the `node_shrinkwrap` folder

#### Actual behaviour

[code]

#### Steps to reproduce

[code]

#### Software versions used

[code]

#### Log output when running shrinkpack

[code]

#### Contents of your npm-shrinkwrap.json or package.json

[2016-07-07 14:07] JamieMason commented on #58
I'm away at the moment but @5id I think this might be your slice on @ for scoped packages?

[2016-07-07 14:28] yaroslavya commented on #58
One more detail: I tried it several times, by removing the repo and starting from scratch and it failed every time. But it fails on different `@angular` packages. So its not `@angular/platform-browser all the time`. Hope it helps :8ball:

[2016-07-07 15:12] brutuscat commented on #56
@aju no sorry, I was referring to the issue of `npm ERR! addLocal Could not install` when running  npm install from a shrinkpack-ed repo... #41. I'll make my comment invalid to avoid confusion.

[2016-07-07 15:13] brutuscat commented on #41
I got this fixed using npm npm >= 3.10.4

[2016-07-08 15:26] Arkotek commented on #56
Same here, I cannot install a shrinkpacked module, globally and locally, I always get thesed errors:

[code]

Versions:

[code]

[2016-07-11 07:45] JamieMason commented on #56
@aju (/cc @Arkotek)

I just ran the following and everything worked;

[code]

However, I think I know what the problem is **`npm install some-shrinkpacked-package` will not work**. I realise now from your https://github.com/JamieMason/shrinkpack/issues/56#issuecomment-231029833 that this is what you were trying to do.

This is the fault of unclear documentation on my part (which I will improve) bu

[2016-07-11 07:45] #56 closed

[2016-07-11 07:56] JamieMason commented on #57
Hi @lonormaly,
I followed these steps and was able to install, shrinkpack, and reinstall `phantomjs2-ext`.

[code]

I am using

[code]

Please could you let me know if this works for you, please reopen if you have any issues.

Thanks.

[2016-07-11 07:56] #57 closed

[2016-07-11 07:57] aju commented on #56
Hi
Thanks for the information. Do you have any future plans to make it work for dependent packages ?

[2016-07-11 07:59] aju commented on #56
BTW when I added just npm-shrinkpack.json to style guide repo it did't work as well when used with root project that was using shrinkpack :(

[2016-07-11 09:27] JamieMason commented on #56
For the reasons in https://github.com/JamieMason/shrinkpack/issues/56#issuecomment-231663704 I don't think it's right that packages published to the registry bundle their dependencies in this way.

You'll also need the `node_shrinkwrap/*.tgz` and be sure that `npm-shrinkwrap.json` and everything else is up to date with your latest dependency graph. Your style-guide project should work as I ran it

[2016-07-11 09:49] JamieMason commented on #58
I thought this might just be to do with scoped packages, but the following worked;

[code]

I will try to test the same on Windows.

**Other things of note**
- Some of the entries in your shrinkwrap have empty paths, such as `file:node_shrinkwrap\\abbrev-1.0.9.tgz`.
- The paths are `\` rather than `/` – I wonder if `npm` honours those in a shrinkwrap.

[2016-07-11 17:00] JamieMason commented on #58
Hey @yaroslavya,
I ran the following on a windows vm and all worked fine, however, I just noticed your version of npm and I think that is the problem – it needs to be 3.10.4 or newer.

[code]

Can you upgrade npm and see if that sorts it? Thanks.

[2016-07-14 05:12] jesstelford commented on #58
I'm getting similar errors on `npm@3.10.5` - am running on Ubuntu 14.04, with `node@5.11.1`.

Mine involves scoped packages also (in our case; private packages, so I can't provide a reproduction case), and it also errors on different packages each time it's run.

It's not something like a request timeout or something is it?

**edit** Same error on `npm@3.10.6`

**edit 2**. Some investigation revea

[2016-07-14 06:09] jesstelford commented on #58
I can't seem to reproduce the exact case above (where some fields in `npm-shrinwrap.json` have a `file:/` prefix), but this is very close:

[code]

This succeeds. Note that the URLs for `"resolved"` fields in the `npm-shrinkwrap.json` are all `http://` urls pointing to npmjs.org.

Now, run:

[code]

This fails. Note that at point `(1)`, the URLs for `"resolved"` fields in the `npm-shrinkwrap.json`

[2016-07-14 07:37] yaroslavya commented on #58
Maybe it will shed some light, but my very first installation and shrinkpack was successful. Then I`ve deleted the node_modules folder and had this error I reported. I didnt get a chance to try it out yet. Will do this weekend. Maybe the updated npm will work just fine on windows. I will also try to clear the cache, maybe it does the trick.

[2016-07-18 08:47] mateatslc commented on #58
Similar problem here, I'm running the following commands:

(1)  `rm -rf ./node_modules && rm -f npm-shrinkwrap.json && npm cache clear && npm i && npm prune`
(2)  `npm shrinkwrap --dev`

fine and dandy till this point, then...

(3)  `rm -rf ./node_shrinkwrap && shrinkpack`

here shrinkpack fails with this:

[code]

this is on OSX 10.11.5, see node and npm version above. these exact commands worked

[2016-07-18 09:59] JamieMason commented on #58
Thanks everyone, let's focus on https://github.com/preboot/angular2-webpack.git as that's a public repo we can all access and reproduce this issue with.

##### tl;dr – I have no idea what the answer is yet and there is a _lot_ of info in this issue. Here is a dump of what I know so far.
- People are experiencing `npm ERR! network getaddrinfo ENOTFOUND lunabuild.akamai.com lunabuild.akamai.com:443`

[2016-07-18 10:08] jesstelford commented on #58
@JamieMason I think the `lunabuild.akamai.com` errors are actually new and different.

See https://github.com/strongloop/fsevents/issues/141

I believe this is a red herring masking the original issue that myself and @yaroslavya had.

[2016-07-18 10:15] JamieMason commented on #58
Thanks @jesstelford, let's avoid angular2-webpack.git then in that case.

Would someone mind creating a reduced test case which reproduces the issue please? I'm pretty lost and the OP expectation of "shrinkpack should get the files from the node_modules folder and put them under the node_shrinkwrap folder" is too broad in it's description to narrow down what's needed.

Apologies if I'm missing som

[2016-07-18 13:31] mateatslc commented on #58
My problem seems to be solved by https://github.com/strongloop/fsevents/issues/141#issuecomment-233320756 👍

[2016-07-19 06:11] JamieMason commented on #58
Could you let me know how this goes please Yaroslav?

[2016-07-19 11:17] yaroslavya commented on #58
@JamieMason Could not get to it yet. Will be able to check it out tomorrow and report the result here. Sorry for the delay.

[2016-07-19 14:24] JamieMason commented on #58
No problem at all @yaroslavya

[2016-07-20 10:28] pgAdmin commented on #29
MeteorJS refers to use of Shrinkpack. However, it internally bundles Node v0.10.46 which is not supported by Shrinkpack yet.

This PR solves the issue. https://github.com/JamieMason/shrinkpack/pull/60

[2016-07-25 01:16] yaroslavya commented on #58
The npm version 3.10.5 worked just fine with preboot project. Didn't try the previous versions. Just in case anyone else has this problem I have a Windows 8 (didnt try it on win7 on which I had the initial issue). The issue was reproduced in absolutely the same way on win8. So I think that the latest npm version fixes it, so you can close it.

[2016-07-25 06:27] JamieMason commented on #58
Thanks for looking into this for us @yaroslavya, appreciate it.

[2016-07-25 06:27] #58 closed

[2016-07-25 21:39] DrewML commented on #31
@JamieMason Would you accept a PR (from myself or someone else) to the readme for the time being with a warning about the npm client's cache bleeding between projects, and the current work-around?

[2016-07-25 21:45] JamieMason commented on #31
of course, thanks @DrewML.

[2016-07-29 10:52] JamieMason commented on #40
Note to self, I've sketched up this script which should convert a .tgz to a .tar on Mac and Linux;

[code]

I will probably release this without Windows support initially, then add that in a later version.

[2016-07-29 10:53] JamieMason commented on #40
Increasing priority as users are being affected: https://github.com/jmeas/moolah/issues/433.

[2016-07-29 21:28] jamesplease commented on #40
A few more details, for the record:

I didn't figure the issue out entirely, but it seemed sometimes git would not be sure if things were up to date and push lots of "objects" up to the repo as I worked on feature branches. An interesting thing to note is that shrinkpack was just in the git _history_, but not in the latest commit. In other words, I had added it and then removed it.

The pushes wer

[2016-07-30 04:44] Daniel15 commented on #40
This assumes `gunzip` is on the `$PATH` (I guess that's a reasonable assumption). Is there no way to natively un-gzip a file with Node.js? Pretty much every other language/framework has archive extraction as part of its core library.

[2016-08-01 14:01] JamieMason commented on #40
Thanks @Daniel15, @jmeas that's really useful. Doing some work on this now.

[2016-08-02 04:01] DrewML commented on #40
[There definitely is](https://nodejs.org/api/zlib.html#zlib_class_zlib_gunzip). _Should_ just be able as simple as passing a stream from `fs.createReadStream` into it.

[2016-08-02 11:39] JamieMason commented on #40
perfect @DrewML 😎👌

[2016-08-04 10:01] JamieMason commented on #40
hey @Daniel15, @szarouski, @JamieMason, @jmeas, @DrewML,

I have an early version in [this branch](https://github.com/JamieMason/shrinkpack/commits/feat/decompress). If you'd like to give it a try ahead of release you can run

[code]

Thanks

[2016-08-04 12:55] JamieMason commented on #54
Unable to reproduce.

[2016-08-04 12:55] #54 closed

[2016-08-04 12:58] JamieMason commented on #31
I'm closing this as there's some detail added to the README now, but please feel free to reopen and comment if more should be done.

[2016-08-04 12:58] #31 closed

[2016-08-04 13:13] webuniverseio commented on #40
@JamieMason you posted a comment with test branch (`npm install -g git://git@github.com:JamieMason/shrinkpack.git#7b2f341408be4f0415714ec57534debfdaaa3fbf`). I checked and I get following error:

[code]

[2016-08-04 13:15] JamieMason opened #62 "Regression in upstream sinopia Docker container"
Created a new issue to track the following.

-----

-----

-----

-----

[2016-08-04 13:16] JamieMason commented on #40
thanks @szarouski, looking into it now

[2016-08-04 13:25] JamieMason commented on #40
I see the problem, running `shrinkpack` and not `shrinkpack .` causes it, will fix that in a moment.

[2016-08-04 13:32] JamieMason commented on #40
should be fixed now in `npm install -g git://git@github.com:JamieMason/shrinkpack.git#708e7455a3ef0b154fce2cd8bf06bc44fca991a3` @szarouski, sorry about that.

[2016-08-04 14:06] JamieMason commented on #62
Trying to fix this but getting nowhere, my knowledge of both Docker and Sinopia aren't great (on the positive side it's a good chance to learn).

Is there a reason why [rnbwd/sinopia](https://hub.docker.com/r/rnbwd/sinopia) (10k installs) was used over [keyvanfatehi/sinopia](https://hub.docker.com/r/keyvanfatehi/sinopia) (100k installs)? Are there some modifications in that fork we need?

The [com

[2016-08-04 14:41] DrewML commented on #62
@JamieMason I'm probably missing a _ton_ of context here, so apologies for my ignorance in advance :).

What's the reason for using a Docker container for the tests? Looking through the commit history, I'm inferring that it may be specifically for enabling testing against multiple versions of node/npm - is that right?

I ask because TravisCI (which it looks like you're trying to use) comes with `n

[2016-08-04 14:49] JamieMason commented on #62
That's basically it yeah, the goal was to be able to try and reproduce any issues that get reported, by taking the package.json and node/npm pairing. Sinopia was then added to the mix so that we could test scoped packages that require authentication.

You might have an idea there, I'll give it some thought, thanks.

[2016-08-04 14:51] DrewML commented on #62
Cool. Happy to contribute if it's something you want to explore further.

You can also tell Travis to spin up a separate container for each `node` version you're testing against. [Here is an example config from another project](https://github.com/avajs/ava/blob/master/.travis.yml#L2)

[2016-08-04 15:01] #52 closed

[2016-08-04 15:03] JamieMason commented on #62
Thanks @DrewML, let's take a look. As you say, I think the docker component may not really be needed. All that's required is that we can set the job to run on a given node/npm pairing. I can be DM'd on Gitter if needed, cheers – much appreciated.

[2016-08-04 15:04] JamieMason commented on #62
By the way, if you clone, develop is the newest branch.

[2016-08-04 15:06] JamieMason commented on #17
Sorry for the wait @digitalsadhu @kkemple – a proposed fix is now in develop.

[2016-08-04 15:21] JamieMason commented on #62
[tech-task/travis](https://github.com/JamieMason/shrinkpack/tree/tech-task/travis) is up to date with develop now too.

[2016-08-04 15:22] DrewML commented on #62
Awesome! I've got lots of packing/moving this weekend, but I'm going to try and squeeze this in during some of my rest breaks :)

[2016-08-05 00:45] webuniverseio commented on #40
@JamieMason np, thanks for looking into that. I get a different message now:

[code]

Update: sorry I run `shrinkpack` through npm scripts, here is a better stack trace:

[code]

Update2: I tried manually adding lodash.assign to dependencies and after running shrinkpack I get the error from the top of this comment.

[2016-08-06 20:30] DrewML commented on #62
@JamieMason I started working on this a bit yesterday/today. Here is my progress so far - feedback welcome.
1. [Main test file](https://github.com/DrewML/shrinkpack/blob/travis-tests/test.js). The test cases I still need to complete are marked `todo` at the bottom of the file
2. [Test Helpers](https://github.com/DrewML/shrinkpack/blob/travis-tests/test_experimental/util.js)

A few comments:
1. My

[2016-08-09 10:36] JamieMason commented on #40
Looking into this, there is an issue with child_process.spawn on Windows which I have added a fix for. I've tested commit e54ed6a981cf34729f7aa48b664033c5c6c1d0a1 on Windows and it is now working.

[1] http://stackoverflow.com/questions/27688804/how-do-i-debug-error-spawn-enoent-on-node-js
[2] https://github.com/nodejs/node-v0.x-archive/issues/2318

[2016-08-09 15:15] #17 closed

[2016-08-09 15:15] #40 closed

[2016-08-09 15:18] JamieMason commented on #62
@DrewML's improvements released in 0.16.1 🎆

[2016-08-09 15:18] #62 closed

[2016-08-09 16:53] kkemple commented on #17
thanks for this addition! can't wait to remove my custom script everywhere!

[2016-08-09 20:14] JamieMason commented on #17
You're welcome, happy to help.

[2016-08-10 07:35] ocombe opened #64 "Incorrect header check in 0.16.1"
Hello,

since the last update (0.16.1) and the change to the compression I get a lot of errors when running shrinkpack:

[code]

[code]

Some packages are fine, but a lot of them fail (maybe 1/10th)...

I cleaned up my node_modules and npm cache, removed the npm-shrinkwrap.json file, reinstalled the node modules and tried again, same problem...

I tried the `--compress` option and everything runs

[2016-08-10 08:20] JamieMason commented on #64
Thanks @ocombe, managed to reproduce it using the below and am looking into it now;

[code]

[2016-08-10 08:21] ocombe commented on #64
Awesome, thanks :)

[2016-08-10 08:38] JamieMason commented on #64
I think the problem is that [`copyFile()`](https://github.com/JamieMason/shrinkpack/blob/0.16.1/src/lib/copy-file.js#L13) is not rate-limited like the other `fs` or `child_process` jobs are. I've done that locally and it seems to work, I'll create a release now.

[2016-08-10 08:41] JamieMason commented on #64
Waiting for [build #14 of shrinkpack](https://travis-ci.org/JamieMason/shrinkpack/builds/151152183).

[2016-08-10 09:28] ocombe commented on #64
It looks like it passed :)

[2016-08-10 09:33] JamieMason commented on #64
Released in 0.16.2, thanks @ocombe for reporting.

[2016-08-10 09:41] ocombe commented on #64
It worked almost until the end where I got:

[code]

:(

[2016-08-10 10:30] JamieMason commented on #64
could you list your dependencies and devDependencies from package.json please?

[2016-08-10 12:11] ocombe commented on #64
Sure, here it is:

[code]

I use the npm command `npm run shrink` to start the process

[2016-08-10 12:14] JamieMason commented on #64
Thanks, I'd been able to reproduce and think I've _just_ found a fix. AFAICT those `@types` scoped packages aren't gzipped, so trying to decompress them results in errors. I'm using https://github.com/mafintosh/gunzip-maybe locally and this seems to fix the problem.

I'll keep testing.

[2016-08-10 12:16] ocombe commented on #64
That makes sense :)

[2016-08-10 16:14] JamieMason commented on #64
Running the build now, if you could try it out ahead of release by running;

[code]

That'd be a great help, thanks.

[2016-08-10 16:46] ocombe commented on #64
It took like forever but it worked ! My folder is now taking 131mo instead of 20mo :D

[2016-08-10 16:51] JamieMason commented on #64
Just checking, are you saying here that`node_shrinkwrap` is 131mb in size instead of 20mb? If so, you can use `shrinkpack --compress` to continue using .tgz files. They'll be much smaller but less suited to Git (which works best with text files).

[2016-08-10 17:02] JamieMason opened #65 "Reinstate resolving tarball URLs using a local package.json"
[`src/resolveTarball/resolveLocally/index.js`](https://github.com/JamieMason/shrinkpack/blob/042c1c1638aab431c3b2bacf82c5321b90c3ce3e/src/resolveTarball/resolveLocally/index.js) was removed in eb594480bb697558e357a1f406ee301784874fe6 due to the complexity involved in trying to locate package.json and the differences in how this can be done in npm v2 and v3.

Windows users in particular seem to be

[2016-08-10 17:11] JamieMason commented on #64
Released in [0.16.3](https://github.com/JamieMason/shrinkpack/blob/ab83d9c04401450670b06cab1436aaa99d2efd3b/CHANGELOG.md) 👍

[2016-08-10 17:11] #64 closed

[2016-08-11 06:43] ocombe commented on #64
Yes the folder is a lot bigger now (which is normal since the archives ain't compressed anymore).
I think I'll keep using the compress option for now, we'll see if I have problems with git later, but for now I haven't.

[2016-08-13 10:38] JamieMason opened #67 "Document that shrinkpack has a Node.js API"
Add to the README that it is possible to call `shrinkpack` from within node.

## 1. Node API

Shrinkpack works in 2 phases;

1. Analyse the project and gather all the diffing information between the file system and the shrinkwrap.
2. Use the diffing information to bring the file system in sync with the shrinkwrap.

[code]

## 2. Internal API for the CLI

This approach does the same as the above, b

[2016-08-14 03:45] IanVS opened #68 "Updating shrinkpacked dependencies"
In the README, you mention:

But, I don't see anywhere else in the README where updating a dependency is actually covered.  I think that would be very useful information (that I'm figuring out for myself currently).

Thanks for the awesome tool!

[2016-08-14 04:01] markerikson commented on #68
I wrote up some instructions for this as part of my sample React/Redux/Webpack project config repo, at https://github.com/markerikson/react-redux-cesium-testing-demo .  Pasting those instructions here for reference:

### Managing Dependencies using Shrinkpack

The recent uproar over the unpublishing of "left-pad" and the subsequent breakage of thousands of NPM packages and build environments demon

[2016-08-14 05:12] DrewML commented on #68
One small note on the write-up above (although it is _awesome_ and super well done): Avoid installing `shrinkwrap` globally if you are working on the project with others. This was the source of some major problems Grunt had during it's early days (and why tools like grunt/gulp/et al. have a separate CLI package that just invokes the version local to the project).

If `shrinkpack` introduces any br

[2016-08-14 05:20] IanVS commented on #68
Thanks @markerikson and @DrewML.  As a part of the ESLint and eslint atom plugin teams, I am _well_ aware of the problems that global vs. local installations can have.  :-p

I've made an `npm run` script to shrinkwrap and then shrinkpack, and it works great. 👍

[2016-08-14 21:32] JamieMason commented on #68
Thanks everyone, I still need to finish the README but will get to it soon :+1:

[2016-08-14 21:35] JamieMason commented on #64
sounds good, thanks @ocombe

[2016-08-15 17:55] markerikson commented on #45
Getting a colleague set up to work on my project, and he just ran into this.  Following my setup instructions, he made sure to update NPM to latest, and is currently using 3.10.6.  I'd still been using an older version of NPM myself, but tried updating my NPM to latest, cloned our repo to a new folder, ran `npm install`, and I see the same thing: a wall of `npm ERR! addLocal Could not install $TAR

[2016-08-15 18:06] JamieMason commented on #45
I've had an issue a few times where I ran `npm install -g npm` and it didn't actually update it to the latest version available for some reason.

Is `npm -v` showing `3.10.6`? In the past I've had to run eg. `npm i -g npm@3.10.6` to get it to actually install the version I wanted.

[2016-08-15 18:07] markerikson commented on #45
Yeah, his box showed 3.10.6, and mine did as well after I upgraded.

[2016-08-15 18:18] JamieMason commented on #45
Ah ok. As a start I've just added 3.10.7 to the Travis job and triggered this build https://travis-ci.org/JamieMason/shrinkpack/builds/152454483. If that passes could you open a new issue which tries to explain how to reproduce please?

[2016-08-16 07:19] Bucabug opened #69 "Running 'npm pack' after using shrinkpack produces an unusable tarball"
### Steps to Reproduce

Follow the shrinkpack-demo from the main page.

After the last step where the "co-worker" has run npm install, follow these steps in the "co-worker's" directory.

`npm pack`

This will produce a file called `shrinkpack-demo-1.0.0.tgz`.

Move this `shrinkpack-demo-1.0.0.tgz` to a clean directory and then run:

`npm install shrinkpack-demo-1.0.0.tgz`

You will see the followi

[2016-08-16 10:20] lime commented on #69
I may be misunderstanding the use case, but it sounds like you are **using shrinkpack inside a library** that will be distributed for others to install using npm. Is that the case?

If so, then see https://github.com/JamieMason/shrinkpack/issues/56#issuecomment-231663704 for an explanation of how this is not the intended use case for shrinkpack.

Please correct me if I misunderstood what it is you

[2016-08-16 10:54] SamFarrington commented on #69
I guess the use case I am encountering is the borderline of your comment above.

The use case is installing a node application on a (production) server with no external network access - i.e. no internet access and no git repo access.

Whilst it may not be the initial intended purpose of this project, this project fits the bill for that purpose pretty well.

The negatives you have mentioned do not

[2016-08-16 11:17] lime commented on #69
That's an interesting use case! And as you say, it's quite different from the "wrapping dependencies of a distributed library" situation.

I've never tried the packed application approach, so I'm probably unable to suggest anything useful.

Just out of curiosity though: are you using `bundledDependencies` or the normal `dependencies` in your app? I've always thought of `bundledDependencies` as bei

[2016-08-16 11:29] SamFarrington commented on #69
I was going down the route of bundledDependencies before I came across shrinkpack - my (very limited and quite possibly incorrect) understanding of bundledDependencies is that you may hit issues when working cross-platform - i.e. package on windows and deploy on linux as it's the node_modules folder that gets passed about and therefore that may contain platform-specific variations of dependencies.

[2016-08-21 11:49] nvartolomei opened #70 "Why checking in node_modules doesn't work?"
Can you provide examples of this?

My solution is checking in node_modules, ignoring the following patterns and running `npm rebuild` on checking out.

[code]

[2016-08-21 11:55] JamieMason commented on #70
I'm on a train now so please forgive the short reply. I'm referring to the
examples in the readme of phantomjs and node-sass where platform binaries
are installed. Your workaround is new to me though, does that work for
those packages? Thanks for sharing this, it's really helpful.

[2016-08-21 19:27] markerikson commented on #70
The idea is that `node_modules` is generally going to contain tens of thousands of files, taking up well over 100MB, and quite possibly containing a number of platform-specific build artifacts (ie, libraries that required native code to be compiled during installation).  Checking in `node_modules` in that situation will waste large amounts of space, take a long time, and cause problems if someone

[2016-08-25 00:51] dragonsinth opened #71 "os.homedir() doesn't seem to be defined"
[code]

I tried to work past this by hard-coding in my ~/.npm cache directory's absolute path here, but I ran into another error immediately after, which is that `os.homedir()` doesn't seem to be defined.  Something is definitely wonky.

<details>
<summary>Expand to see `npm list -g`</summary>
[code]
</details>

os: OS X Yosemite 10.10.5
node version: v0.10.39
npm@3.10.6
shrinkpack@0.16.3

[2016-08-25 14:30] JamieMason commented on #70
Thanks a lot @markerikson.

[2016-08-25 14:30] #70 closed

[2016-08-25 14:33] JamieMason commented on #68
Please see the updated README and please feel free to offer any suggestions for additions or changes.

A lot of areas are quite wordy and also I've struggled to articulate what the value of shrinkpack is, so any ideas around that would be helpful – a lot of the current talk is about risk mitigation and resilience, but most don't seem to be too interested in that, maybe install speed is more of a d

[2016-08-25 14:33] #68 closed

[2016-08-25 14:35] JamieMason commented on #69
Sorry for the delay, I have updated the README to try and better explain how shrinkpack works currently and the kinds of situations it can be used. Please let me know if this does not help and more should be done, thanks.

[2016-08-25 14:35] #69 closed

[2016-08-25 14:40] JamieMason commented on #71
Thanks @dragonsinth, please could you add the following to the original issue?
- Operating system and version.
- Node.js version.
- npm version.
- Shrinkpack version.

[2016-08-25 14:53] IanVS commented on #68
I noticed my install speed went _down_ when I started using shrinkpack, and for me the value really is risk mitigation and not relying on npm registry for deploying my code.  So, I wouldn't promise faster installs necessarily.

Note: I was already keeping the npm local cache between deployments.

[2016-08-25 14:58] JamieMason commented on #68
Yikes, do you have any more info on this please? I'll try to improve it.

[2016-08-25 15:02] #67 closed

[2016-08-25 15:07] IanVS commented on #68
Well, since I was already keeping the local npm cache and using shrinkwrap, the only thing that really changed when I started using shrinkpack was that npm doesn't need to make the http requests to check the version on the registry.  Those were super fast usually, so that doesn't save a lot of time.  I'm not familiar with the inner workings of npm, so I'm not sure why the speed dropped (was only a

[2016-08-25 15:10] dragonsinth commented on #71
Done.

Keep in mind that the `os.homedir()` wasn't the first failure for me.  Before that, `get-paths.js` failed to exec `npm config get cache`.  When I run the command by hand it works just fine.

[code]

[2016-08-25 15:17] JamieMason commented on #68
Thanks a lot @IanVS, appreciate it. I will take a look too.

[2016-08-25 15:18] JamieMason commented on #71
Thanks @dragonsinth I will take a look into this soon.

[2016-08-30 15:00] lime opened #72 "Git dependencies with same version are not necessarily updated"
We had a couple of occurrences of strange behaviour after starting to use a git fork of a library. The fix (applied once per machine, then forgotten again) was to `rm -rf node_modules/library-name` and run `npm install` again. It let us get on with work, but I started to wonder whether it was a consistent issue that could be reproduced and fixed.

Consider the following scenario:

1. You're using

[2016-08-30 16:20] JamieMason commented on #72
Thanks Emil, sounds good. Agree it would make sense in the case of from-Git
repos that the commit SHA is incorporated somehow.

[2016-09-01 16:03] tadjohnston opened #73 "BUG: "TypeError: undefined is not a function" when running shrinkpack"
+ Expected behaviour.
  Demo should run

+ Actual behaviour.
  Demo is not running.

+ What was ran before error:
[code]

+ Copies of any important log or error output.
[code]

+ Operating system and version.
  Mac OSX El Capitan

+ Node.js version.
0.12.0
+ npm version.
3.7.3

+ Shrinkpack version.
0.17.0

+ Contents of npm-shrinkwrap.json.
What the demo has after running `npm install async comma

[2016-09-01 16:06] DrewML commented on #73
Think this is the same root cause as https://github.com/JamieMason/shrinkpack/issues/71.

[2016-09-01 16:07] DrewML commented on #71
`os.homedir` was added in 2.x ([source](https://nodejs.org/api/os.html#os_os_homedir)). We may need to pull in a userland lib for that functionality if we want to support node 0.10.x and 0.12.x.

[2016-09-01 16:08] tadjohnston commented on #73
@DrewML yeah I saw that. Wasn't sure, so I just posted since the actual errors were slightly different. We can close this if needed.

[code]

[2016-09-01 16:12] tadjohnston commented on #73
We can close this. Just tried this with node `5.8.0` and it seems to work fine. Issue here is with node `0.12.0`.

[2016-09-01 16:12] #73 closed

[2016-09-03 20:15] lime commented on #72
This seems to be a relevant upstream issue: https://github.com/npm/npm/issues/4042

If I'm reading it correctly, it sounds like trying to work around it on the shrinkpack side might be an uphill battle...

[2016-09-07 18:44] dragonsinth commented on #71
I updated my base node install to 6.5.0 and everything seems good as long as my npm is up to date.  Didn't realize I was on an ancient version of node!

[2016-09-08 12:55] palmerj3 opened #74 "OptionalDependencies must also be removed from package.json"
According to NPM [if you remove optionalDependencies in npm-shrinkwrap.json but they still exist in package.json NPM will install them anyways](https://github.com/npm/npm/pull/13579#issuecomment-243898968). I totally disagree with this behavior and will be working on a NPM PR to remove this behavior entirely. But I think you could handle this in shrinkpack.

Certainly removing optionalDeps from to

[2016-09-15 23:32] codyhatch opened #75 "Nested optionalDependencies are not removed"
If I try something like this on a Mac:

[code]

I believe that `fsevents` should be pruned from the rewritten `npm-shrinkwrap.json` file.  However, it's not, which means that if I try to install this package on a linux server it will fail, because `fsevents` is still  attempting to be installed.

This is with node v4.5.0, npm v3.10.7, and shrinkpack v0.17.0.

I believe this is the same issue which

[2016-09-20 18:24] sandro-pasquali commented on #45
Just bumped against this myself. Luckily there is google, which led me here, but it might be useful to mention this somewhere in the readme.

[2016-09-20 19:12] JamieMason commented on #45
Thanks @sandro-pasquali, I've made a note in the installation section of the readme 👍

[2016-09-20 23:19] DrewML commented on #75
@codyhatch Looking at 75265ac, that fix only addresses removal of `optionalDependencies` that are specified in the top-level `package.json` for your project - it does _not_ look to handle the `optionalDependencies` specified by your transitive deps.

As a work-around for the time being, you can add `fsevents` to the `optionalDependencies` in the `package.json` for your application.

I think the co

[2016-09-25 14:47] JamieMason commented on #75
Agree @DrewML that you'd have to pluck `optionalDependencies` from every `package.json` in the dependency graph to then prune it from the shrinkwrap.

I'll think about this some more, but I'm initially hesitant because I'm already not content with how much `shrinkpack` has needed to be a bag of patches for upsteam `npm shrinkwrap` issues. That said, `npm shrinkwrap` is `shrinkpack`'s source of dat

[2016-09-25 14:50] JamieMason commented on #75
I'll close #74 as a duplicate as there is more discussion in this thread.

[2016-09-25 14:50] JamieMason commented on #74
Closing as duplicate of #75 as there is more discussion in that thread.

[2016-09-25 14:50] #74 closed

[2016-09-25 14:53] JamieMason commented on #72
thanks @lime, I will close this and mark as upstream. If anyone has any other ideas please feel free to comment.

[2016-09-25 14:53] #72 closed

[2016-09-25 15:52] JamieMason commented on #71
Thanks all, I've marked node v4 as the minimum version as 0.x support is being phased out in node itself.

[2016-09-25 15:52] #71 closed

[2016-09-25 15:55] JamieMason commented on #29
I've marked shrinkpack as officially supporting node v4 as a minimum as 0.x support is being phased out in node itself. I can't be sure whether shrinkpack's dependencies will continue to support 0.x but if there are any ways I can add support in shrinkpack itself I will try to address them.

Leaving this open for further investigation.

[2016-09-25 17:41] nifgraup commented on #72
I believe this is working fine with npm 3.x

[2016-09-29 01:43] aramonc opened #78 "npm install fails after clone with some dependencies"
We have a bootstrap repo that we use to create new projects. It contains a `package.json`, `npm-shrinkwrap.json` and `./node_shrinkwrap` directory with the basic dependencies we use on ever project. However, after a fresh clone, running `npm install` results in error like:

[code]

We've narrowed it down to "it happens only with some dependencies, but not everything". So in the reproduction I used

[2016-09-29 04:03] markerikson commented on #78
Supposedly this was fixed in NPM 3.10.4, but I'm still seeing it myself even with 3.10.8.

[2016-09-29 07:13] lime commented on #78
This indeed appears to be the same error as #45. As [the readme states](https://github.com/JamieMason/shrinkpack#installation), npm 3.8.8 to 3.10.3 are affected, but from 3.10.4 onward it should be fixed.

@markerikson, it sounds worrying that you're seeing the same with 3.10.8. 😕  Does it work differently with other patch versions >= 3.10.4?

[2016-09-29 14:46] aramonc commented on #78
We'll try installing npm 3.10.4 & let you know.

[2016-09-30 01:36] aramonc commented on #78
updated NPM to latest version 3.10.8 & it's working. Thank you. Didn't notice the latest NodeJS didn't include the latest NPM.

[2016-09-30 01:36] #78 closed

[2016-10-04 01:42] SPSpwetter commented on #29
FYI, os.homedir() is in node4 minimum. See https://github.com/nodejs/node/issues/3148 so I concur with the dropping support for node < 4.

[2016-10-17 14:43] ocombe commented on #29
In the latest release (0.17.1) I got the following warning as well: `(node:13896) DeprecationWarning: execa.spawn() is deprecated. Use execa() instead.`
I guess you can update this too :)

[2016-11-25 15:22] tunwin819 opened #79 "shrinkpack 'is not recognized....' on Windows 10"
Installing runs just fine:
`npm install --global shrinkpack`

Then when running `shrinkpack` it returns
[code]
Is there a reason this may not work in this way for Windows?

[2016-11-25 16:06] JamieMason commented on #79
What output do you get for the following please?

[code]

[2016-11-25 16:11] grant-unwin commented on #79
Same result.

[code]

[2016-11-25 16:24] JamieMason commented on #79
There seems to be some issue with your npm installation or PATH settings, there should be some answers on google search or stackoverflow.com to get you set up 👍

[2016-11-25 16:24] #79 closed

[2016-12-09 21:20] finleysg opened #80 "--compress flag issues on Windows"
I've been through the tutorial a couple of times, once with a brownfield project and then once through exactly as written. In both cases, I opted to use a local project cache.

When I got to the Toggle Compression section, shrinkpack cleared the node_shrinkpack directory, but then failed to resolve all of the tarballs with the following error:

[code]

As you can see, it's trying to resolve from t

[2016-12-11 13:49] finleysg commented on #80
Ok, now that I've run through this on Linux, it looks like it's only a Windows problem.

I also understand the --compress switch now. Only compresses when you explicitly ask it to. Not 100% sure it works correctly on Windows, though, since the tarballs were compressed by default in the first project I used. I'll try to reproduce that behavior when I get back into work.

[2016-12-12 15:58] finleysg commented on #80
Stacktrace reading comprehension fail - this is probably an upstream npm issue. I'm on npm 3.10.9, Windows 6.1.7601. The --compress flag fails regardless of whether or not I've configured a local project cache.

I'll be recommending to our teams to NOT compress the tarballs, so this will not be a blocking problem for us. Thank you for a terrific tool.

[2016-12-12 16:15] JamieMason commented on #80
Sorry for the delay @finleysg.

Do I understand correctly that, under any circumstances, running `shrinkpack` with the `--compress` flag does not work on Windows? If so, please re-open and we can get that addressed.

Something I do on my own projects is use npm scripts to share these project-related tasks, our shrinkpack task for example looks like below. We have no windows users so we're able to

[2016-12-12 19:26] finleysg commented on #80
Thank you for the team workflow suggestions.

Yes, on my Win7 machine, the `--compress` switch always fails for all dependencies. Same error/stack as I posted above. Doesn't matter whether we are using the default npm cache or a local project cache.

[2016-12-18 17:31] JamieMason opened #81 "Update node & npm versions used in CI"
Newer versions have been released since which are not being tested against.

[2016-12-20 19:13] JamieMason commented on #81
Closed by 3856aa2.

[2016-12-20 19:13] #81 closed

[2016-12-20 21:13] JamieMason commented on #75
I've pushed a change to [feat/75-nested-optional-deps](https://github.com/JamieMason/shrinkpack/compare/feat/75-nested-optional-deps) which seems to work well, using the `"optional": true` properties found in shrinkwraps generated by newer versions of npm.

The test suite will need updating before it can be released though, as the pruning of optional dependencies results in different files in node

[2016-12-21 19:06] #75 closed

[2017-05-05 09:19] JamieMason opened #83 "Add support for npm5"
`npm install -g npm5` has a different cache structure so shrinkpack will need updating to support that, while being backwards compatible for older versions.

[2017-05-07 08:59] zkat commented on #83
So, there's two ways you can go about this: The way I think I most recommend is to run `npm pack pkg@1.2.3 pkg2@3.4.5 other-pkg@1 ...`, according to the versions in `npm-shrinkwrap.json` or `package-lock.json`. This way is compatible with just about any version of npm I know of, and does not even require a warm cache to work: it'll use the cache if needed, but will otherwise make sure whatever you

[2017-05-07 09:55] JamieMason commented on #83
Thanks @zkat, I'll most likely go the `npm pack` route :+1:

[2017-05-29 09:37] timdp commented on #83
In the meantime, it might be helpful to pass `{stdio: ['pipe', 'pipe', 'inherit']}` when you spawn npm so stderr doesn't get swallowed. Anyway, I appreciate the effort on this. :+1:

[2017-05-29 19:06] JamieMason commented on #83
Thanks a lot for the tip @timdp

[2017-06-07 07:57] JamieMason commented on #83
@zkat should I consider rewriting the paths in `package-lock.json` in the same way I do `npm-shrinkwrap.json` (from URLs to their local .tar path) or would you advise against that?

[2017-06-07 17:09] zkat commented on #83
@JamieMason If you do that, it HAS to be: `file:relative/path/to.tar`, and you have to _add_ the sha512sum of the `.tar` to `integrity` (NOT replace it -- it needs to have both sha512s in that string, separated by a space. See https://npm.im/ssri)

I haven't tried this myself yet, but I would hope it would work. It should. If not, that's a bug I gotta fix.

So, to summarize:

[code]

becomes

[cod

[2017-06-27 06:40] tmchng opened #84 "Handle local (file:) dependencies"
My project has dependency structure that looks like this:
MainProject --> local_module_a --> local_module_b

Directory looks like this:
[code]

MainProject/package.json:
[code]

local_module_a/package.json:
[code]

After running shrinkpack, I saw that the local_modules are packed into tarballs, with shrinkwrap entries that look like the following:
[code]

When I run npm install, I get the followin

[2017-06-27 07:12] JamieMason commented on #84
Thanks @tmchng, this is a valid use case but not one that I've accounted for so far. This would be a new feature and one that I'm happy to add when I next get time to work on shrinkpack.

[2017-06-28 16:41] musasheikh opened #85 "after upgrate to ionic 3.. npm install failed, I cant create new app"
**# npm WARN ionic/cli-plugin-ionic-angular 1.3.1 requires a peer of ionic/app-scripts^1.3.7 but none was installed**

1139 verbose stack     at Immediate.Async.drainQueues
(C:\Users\musas\AppData\Roaming\npm\node_modules\npm\node_modules\bluebird\js\release\async.js:17:14)
1140 verbose cwd C:\Users\musas\cartoonzman
1141 verbose Windows_NT 10.0.15063
1142 verbose argv "C:\\Program Files\\nodejs\\

[2017-06-28 16:57] JamieMason commented on #85
Before raising a bug, try to determine whether your issue is introduced by using shrinkpack.

A good bug report tends to contain (in order of usefulness);

+ Expected behaviour.
+ Actual behaviour.
+ List of terminal commands to reproduce the bug.
+ Copies of any important log or error output.
+ Operating system and version.
+ Node.js version.
+ npm version.
+ Shrinkpack version.
+ Contents of npm

[2017-06-28 17:00] musasheikh commented on #85
@JamieMason  I just installed the latest version of ionic and npm

then I run .. ionic start myApp blank

npm failed because of object-keys deprecated, i installed the object-keys manually

but npm install command still not working because ionic/app-scripts !

[2017-06-28 17:02] JamieMason commented on #85
This is the repo for shrinkpack, are you in the right place?

[2017-06-28 17:03] musasheikh commented on #85
this is repo
C:\Users\musas\cartoonzman>ionic info
[WARN] You have multiple CLI project plugins installed (@ionic/cli-plugin-ionic1, @ionic/cli-plugin-ionic-angular).
       Please make sure you have only one installed.
[ERROR] Error with .\node_modules\ionic-angular\package.json file: FILE_NOT_FOUND
[ERROR] Error with .\node_modules\@ionic\app-scripts\package.json file: FILE_NOT_FOUND
[ERROR] Err

[2017-06-28 17:07] JamieMason commented on #85
This issue forum is where you would report issues with the shrinkpack project, you could try asking about this on stack overflow and/or the mailing list or support forums for Ionic.

Best of luck! Thanks.

[2017-06-28 17:07] #85 closed

[2017-06-28 19:11] nbarron16 opened #86 "Can't run shrinkpack after upgrading from npm v4.6.1 to v5.0.3"
When I run 'shrinkpack' after upgrading to the lastest npm v.5.0.3:

Error: ! failed to read contents of npm cache
        at ChildProcess.onClose (C:\Users\\_Me_\AppData\Roaming\npm\node_modules\shrinkpack\src\analyse\read-npm-cache.js:40:25)
        at emitTwo (events.js:125:13)
        at ChildProcess.emit (events.js:213:7)
        at ChildProcess.cp.emit (C:\Users\\_Me_\AppData\Roaming\npm\nod

[2017-06-28 21:50] JamieMason commented on #86
Please follow #83 for updates 👍

[2017-06-28 21:50] #86 closed

[2017-07-18 17:00] pietermees commented on #83
@JamieMason just wondering, any progress on this? Thanks!

[2017-07-19 11:25] JamieMason commented on #83
Hey @zkat,
I've noticed a few mentions from npm peeps that there's a plan to ~implement shrinkpack in npm, is that right? If so, would there be any need to add npm v5 support to shrinkpack if it will be available without a 3rd party package anyway?

Thanks a lot,

Jamie

[2017-07-19 18:43] zkat commented on #83
@JamieMason doing that is a ways away. You're free to implement it shrinkpack-side in he meantime -- it's gone pretty far down the queue in the past couple of months, and idk when we'd even get around to it, rn.

[2017-07-19 19:02] JamieMason commented on #83
righto, thanks a lot @zkat

[2017-07-25 13:37] cmandlbaur commented on #83
Is this something that is in progress?

[2017-07-25 14:36] JamieMason commented on #83
Hey again @zkat, hope you like @ mentions.

If I wanted to keep the `↓` part of the `+110 -0 ↓50 →60 ✓0` summary shown after `shrinkpack` has run, am I right that for npm >= 5 `cacache.get.hasContent(cache, integrity)` is the method I would want to use?

I'm thinking I would use that to report on whether the package was downloaded, but run `npm pack` to do the ✨🦄 ✨.

@pietermees @cmandlbaur It has

[2017-07-25 14:45] pietermees commented on #83
That's great news @JamieMason!

I'm not entirely sure what would make contributing easier. I think there's a general sense (at least on my end) that I don't fully understand all the moving parts. And seeing that even you - after all this amazing work - still seem to rely on zkat's knowledge from time to time, makes me feel like the learning curve is relatively long and steep ;)

On the one hand, h

[2017-07-25 14:58] JamieMason commented on #83
haha, I laughed out loud at this (it's funny because it's true!) 😆

I'll keep you posted on progress, thanks a lot 😸

[2017-07-28 00:20] zkat commented on #83
@jamiemason yeah. Although note that the cacache directory is inside `~/.npm/_cacache`, when you point it at a cache

[2017-07-28 06:22] JamieMason commented on #83
Thanks again 👊

[2017-08-04 14:25] JamieMason commented on #83
Sorry @zkat, can I nag you again please?

## 1

I've noticed that sometimes entries have a semver string for `version` and a location for `resolved`
and other times a location for `version` and no `resolved` field, like so;

[code]

When running npm pack, should I eg. `npm pack ${node.resolved || node.version}`? Can you tell me
anything more about the rules behind what's happening here?

## 2

Whe

[2017-08-04 23:56] zkat commented on #83
1. See the spec for package-lock's `version` field here: https://github.com/npm/npm/blob/latest/doc/spec/package-lock.md#version-changed. Also, you should keep `requires` in there.

2. Thinking about this makes me wonder if npm5 can actually do this sort of thing right now. URL specs don't match semver specs, so npm would (I believe) immediately NOPE out and force a full reinstallation because the

[2017-08-05 00:22] JamieMason commented on #83
Thanks a lot

[2017-08-07 22:11] JamieMason commented on #83
Here is an update on progress for anyone dropping in.

The current version can be run by following these steps;

[code]

if you were to run

[code]

it installs correctly and AFACT the package-lock.json seems to be valid.

But, if you run the following to clear npms internal cache...

[code]

...disconnect your internet connection and run

[code]

the following error is presented.

[code]

I'm out

[2017-08-09 14:58] JamieMason opened #87 "NPM5 – npm ERR! aggregate error"
Clone the dev branch and run shrinkpack on itself.

[code]

`npm install` will work but `rm -rf node_modules` and try `npm install` again and you will receive the following error

[code]

The shrinkpacked [package-lock.json](https://github.com/JamieMason/shrinkpack/files/1211848/package-lock.json.txt) and [2017-08-09T14_48_49_245Z-debug.log](https://github.com/JamieMason/shrinkpack/files/1211842/2

[2017-08-09 15:04] JamieMason commented on #87
@zkat @iarna would you have any information please on aggregate errors? I've searched ["aggregate" in the npm repo](https://github.com/npm/npm/search?q=aggregate&type=Code&utf8=%E2%9C%93) but don't find any matches. Any pointers would be a huge help, thanks a lot.

EDIT: I've seen that [aggregate errors actually originate from bluebird](https://github.com/petkaantonov/bluebird/search?utf8=%E2%9C%9

[2017-08-09 15:10] JamieMason commented on #87
Seen that [aggregate errors originate from bluebird](https://github.com/petkaantonov/bluebird/search?utf8=%E2%9C%93&q=aggregate&type=). Seeing what else I can find further up the stack trace.

[2017-08-09 19:11] rockerest commented on #83
Just wanted to leave a note that I'm pleased that you've found time to work on this.

Like @pietermees:

So I feel indebted to you for the work already done, and for the work you've now picked up again.

I'm cheering for you, and I deeply appreciate your time and energy on this project. :beers: :tada:

[2017-08-09 19:58] pietermees commented on #83
I second that!

[2017-08-10 09:29] JamieMason commented on #83
That's amazing, thanks so much. Just a note to people dropping in that I'm travelling now so won't be able to pick up again until mid-late next week.

😊👍

[2017-08-13 21:45] iarna commented on #87
huh, no, I've not seen those before… can you run again with BLUEBIRD_DEBUG=1 set?

(It'll give a much better stack trace in the debug log.)

[2017-08-13 21:50] iarna commented on #87
Looks like it's an array of errors from a call to `.some()`, when ALL of the promises reject: http://bluebirdjs.com/docs/api/promise.some.html

`BLUEBIRD_DEBUG` will hopefully show us which `.some()` in the npm code base is doing this.

[2017-08-15 21:23] JamieMason commented on #83
Some learnings today, I've created 4 branches which show different structures of `npm-shrinkwrap.json` and `package.json`.

+ [format 1](https://github.com/JamieMason/shrinkpack/tree/shrinkwrap-format-1) ❌
+ [format 2](https://github.com/JamieMason/shrinkpack/tree/shrinkwrap-format-2) ❌
+ [format 3](https://github.com/JamieMason/shrinkpack/tree/shrinkwrap-format-3) ✅
+ [format 4](https://github.co

[2017-08-16 08:00] JamieMason commented on #87
To save wasting your time I think this can be closed for now @iarna. I've not been able to reproduce it since and I think the cause will likely be an incorrect package-lock.json produced by shrinkpack. If I see it again I will reopen and add steps to reproduce.

[2017-08-17 21:06] JamieMason commented on #87
Hi @iarna, I've been able to reproduce this again and have created a new branch at https://github.com/JamieMason/shrinkpack/tree/aggregate-error which should have everything needed to reproduce it, plus the full error logs.

I will take a look at the lines in the stack trace and post anything I find here, thanks.

[2017-08-18 16:41] rockerest commented on #83
Thanks for the continuing investigation and updates!

[2017-08-20 15:03] JamieMason commented on #83
@iarna @zkat if you have some time I could use your help if you can please? It's most likely that I have the structure of `package-lock.json` slightly wrong, but there's also a slim chance this might be an npm bug? I wonder this because format 4 from https://github.com/JamieMason/shrinkpack/issues/83#issuecomment-322593863 is created by installing a local tarball using npm alone, then changing the

[2017-08-29 15:13] JamieMason commented on #83
I've opened https://github.com/npm/npm/issues/18339 over on the npm repo and am available if there's anything at all I can do to help, I know the npm team are _crazy_ busy.

[2017-08-29 17:54] iarna commented on #83
Yeah, I'll look at this uh, probably next week, but sooner if possible.

[2017-09-26 11:58] JamieMason commented on #83
is this something one of us could contribute to do you think @iarna? Or does it look like it could be too involved to be handled outside the core team? if there's any way I can help I'd be happy to. Thanks.

[2017-10-04 12:48] timdp commented on #83
@iarna Do you happen to have an update? Thanks!

[2017-10-05 07:29] JamieMason commented on #83
I wonder if `cipm` is an alternative route that might work? (https://twitter.com/rebeccaorg/status/902983343376961536). I am away but will try next week if no one beats me to it.

The latest shrinkpack is on the https://github.com/JamieMason/shrinkpack/tree/dev branch and can be run with `npm install && npm run build && node dist/bin.js --help`

[2017-10-05 18:35] iarna commented on #83
@timdb Nope! My priorities largely got rejuggled by 2fa, but I'm making sure it's on my list of things.

@JamieMason I don't actually know what the scope of the problem is as yet. If someone wants to take a crack at it, that'd be great though. (And if someone _does_ and has questions about the source, drop by the #npm channel on https://package.community/ and we'd be happy to answer them.)

[2017-10-19 10:58] JamieMason commented on #87
Closing as duplicate of #83

[2017-10-19 10:58] #87 closed

[2017-10-19 15:42] iarna commented on #83
Ok, I've gotten some time to look at this, in particular the `aggregate-error` branch:

There are two problems with the package-lock in that branch.

First, the `requires` section should still be by version. `npm` matches them up by comparing values from the requires field with the version field.

Second, the integrity field needs to have hashes from the `tar` files in your `resolved` field. Right

[2017-10-19 15:46] JamieMason commented on #83
Great, thanks @iarna I will take a look at those issues and get them fixed.

[2017-10-19 15:46] iarna commented on #83
My local testing shows that fixing those won't be quite enough, there's _also_ some underlying npm bug…

[2017-10-19 16:09] iarna commented on #83
This is my cut-down repro: https://gist.github.com/iarna/a47991307e626ffdef0a3012ae41fae5

[2017-10-19 16:14] JamieMason commented on #83
OK thanks for the info, I'll concentrate on correctness of the package lock and head to that channel with any questions, most likely around generating the hashes but will see when I get to it.

Grateful for your help as always.

[2017-10-19 16:16] iarna commented on #83
[`ssri`](http://npmjs.com/package/ssri) is a great way to go generate those hashes =)

[2017-11-04 06:13] viewhao opened #88 "UnhandledPromiseRejectionWarning: Unhandled promise rejection"
when i follow the tutorial, i encounter this error
[code]
my node version is `v8.1.2`

[2017-11-05 15:54] valscion commented on #88
Hi! Could you tell what `npm --version` tells you?

[2017-11-06 15:50] Fridus commented on #83
Shrinkpack for npm5 coming soon ? 😃

[2017-11-08 05:50] viewhao commented on #88
my npm version is: `5.5.1`

[2017-11-08 09:30] valscion commented on #88
Ok. Unfortunately shrinkpack does not yet support npm5. You might want to subscribe to issue #83 to get notified if the situation changes.

[2017-11-08 09:37] viewhao commented on #88
Thank you @valscion

[2017-11-10 19:56] JamieMason commented on #83
I just want to check, right now locally I have:

[code]

This looks like it should be right if I've understood https://github.com/JamieMason/shrinkpack/issues/83#issuecomment-306861678 from @zkat correctly, but is that correct or should it change to contain _only_ the sha for the .tar like so?

[code]

Thanks.

[2017-11-12 19:21] JamieMason commented on #83
The latest implementation is as follows;

#### When leaving packages compressed

The `integrity` properties are left as `"<original-tgz-hash>"`

#### When decompressing packages

The `integrity` properties are set to `"<original-tgz-hash> <new-tar-hash>"`

#### Generating hashes

The `<new-tar-hash>` is generated using the file contents and `ssri.stringify`

[code]

[2017-11-15 07:54] zkat commented on #83
I just pushed a patch that might help with this -- do you wanna try using `npx npmc i`? I've published the patch as part of the canary so folks can try it out. It fixed @iarna's repro and a couple of other git/tar/etc-related issues, specially around checksums.

[2017-11-15 10:59] JamieMason commented on #88
Thanks @valscion for picking this up, huge help :+1: I will close this @viewhao to be tracked by #83 (which is only a week or so away by the look of things).

[2017-11-15 10:59] #88 closed

[2017-11-15 11:11] JamieMason opened #89 "Add Monorepo support"
Idea for after #83 is released and npm 5 support is stable.

[code]

1. Not passing `--lerna` defaults to `false`.
1. Passing `--lerna` instructs `shrinkpack` to process `./npm-shrinkwrap.json` plus `./packages/*/npm-shrinkwrap.json` but store the tarballs in a single cache at `./node_shrinkwrap`.

[2017-11-15 11:13] JamieMason commented on #84
This is still known about and will be picked up in the new codebase after #83 is released.

[2017-11-15 11:14] JamieMason commented on #80
This is still known about and will be picked up in the new codebase after #83 is released.

[2017-11-15 12:01] JamieMason opened #90 "Reference useful npm documentation in readme"
https://docs.npmjs.com/files/package-locks
https://docs.npmjs.com/files/package-lock.json
https://docs.npmjs.com/files/shrinkwrap.json

[2017-11-15 12:12] JamieMason opened #91 "Add guides/recipes"
Either as part of the documentation or the CLI, add interactive guides/recipes for;

+ adding a new dependency.
+ updating a dependency.
+ removing a dependency.
+ clean reinstalling, to capture drift (semver ranges which have changed over time).

while updating the lockfile and shrinkpack in a clean and predictable way, avoiding common gotchas.

An analogy I like to use is that a lockfile is a bi

[2017-11-15 12:16] valscion commented on #88
Happy to help! You're doing great job :+1:

[2017-11-15 12:16] JamieMason commented on #91
I don't know about other people but I always tend to `rm -rf ./package-lock.json ./npm-shrinkwrap.json node_modules` and do a full reinstall.

Trying to make changes while the "cake lid" is still covering the project can expose you to whatever potential problems may lie in npm's resolution logic. Nuking and regenerating from scratch has always resulted in a clean, valid install for me.

[2017-11-15 12:19] valscion commented on #91
We try to avoid nuking `npm-shrinkwrap.json` and `node_modules` at @venuu if possible, and figure out what packages we'd need to reinstall to create a clean result.

...although, the reason why it might work is that we're still using npm@2 😅 . Looking forward to npm@5 support, as v3 and v4 weren't quite satisfactory for us yet :)

[2017-11-15 12:27] JamieMason commented on #91
Can you expand on this? I don't follow sorry, can you explain the scenario?

[2017-11-15 13:19] valscion commented on #91
Yeah, sorry to leave just a drive-by comment 😅 . Had a hurry to review another PR in the meantime.

Anyway, the approach we've used to upgrade a package is to remove it, install a newer version and shrinkpack it. Then we'd make other team members uninstall the same package before reinstalling from a clean shrinkpack.

Sometimes this method might cause drift between different developer's machines,

[2017-11-15 13:21] valscion commented on #91
Oh, and the `./script/clean-shrinkwrap.js` script looks like this:

[code]

Basically, it avoids npm shuffling shrinkwrap contents by sorting them, and removes fields from shrinkpack file that are different if the package is installed via a local copy or resolved from a remote repository.

[2017-11-15 15:34] JamieMason commented on #91
Just to verify that the install works? ok makes sense.

From npm5 there is no `from` field in the shrinkwrap so that will be a bonus. I like the idea of sorting the keys to try and keep noise in diffs to a minimum, maybe shrinkpack could do this.

Thanks a lot for explaining!

[2017-11-16 11:16] JamieMason commented on #83
I've just given this a try @zkat, but as things are at the moment shrinkpack with npm5 does not appear to work.

The gist of the problem is that `npmc` is still attempting to hit the public registry instead of reading the `resolved` fields and hitting `./node_shrinkwrap`.

The most likely cause is that I don't have the `npm-shrinkwrap.json` set up exactly as it needs to be.

Here is a script to re

[2017-11-16 11:24] JamieMason commented on #83
Sorry, I'm also still able to reproduce https://github.com/npm/npm/issues/18339 using `npmc`.

[2017-11-17 09:49] valscion commented on #91
Oh, it's to verify that when they run `npm run shrink` again, they'd get no diff. Usually the small differences there'd be won't cause functional differences, not anything large anyway.

That's a great thing to know, thanks!

Could be — it has always been a bit weird that built-in shrinkwrap doesn't do this already.

My pleasure! 🙇

[2017-11-17 17:14] JamieMason commented on #83
I think let's focus on getting @iarna's [cut-down repro](https://github.com/JamieMason/shrinkpack/issues/83#issuecomment-337957470) working in `npmc` then continue from there.

To save confusion I have left the [dev branch](https://github.com/JamieMason/shrinkpack/commits/dev) at the commit it was at when I wrote https://github.com/JamieMason/shrinkpack/issues/83#issuecomment-344893102 and will do

[2017-11-17 17:43] JamieMason commented on #83
I've added `--loglevel silly` to the `refactor` branch and an example failing test for `aggregate error` can be seen at https://travis-ci.org/JamieMason/shrinkpack/jobs/303640167.

The `dev` branch [is passing](https://travis-ci.org/JamieMason/shrinkpack/jobs/303625804), but I think an important difference between that and the test script I've been using from https://github.com/JamieMason/shrinkpa

[2017-12-15 14:54] simllll commented on #83
npm 5.6 is out, any news on this?

[2017-12-15 15:31] JamieMason commented on #83
This ticket is still blocked by https://github.com/npm/npm/issues/18339.
The npm team are aware of the issue but have a lot on their plate.

For anyone reading this in the future: this is the highest priority issue in shrinkpack and when anything _does_ progress you will hear about it by subscribing. You do not need to poke or nudge this thread to keep it alive (this isn't a dig at you @simllll 😃

[2017-12-15 18:44] rockerest commented on #83
It looks like [the fix](https://github.com/npm/npm/issues/18339#issuecomment-334838276) has [landed](https://github.com/npm/npm/pull/18726) but as far as I can tell it hasn't made it into an `npm` release yet. Fingers crossed. As always thanks for your continued work on this.

[2017-12-15 21:12] iarna commented on #83
@rockerest That landed in 5.6.0 which is `latest`.

[2017-12-17 13:50] JamieMason commented on #83
as far as I can tell https://github.com/npm/npm/issues/18339 is still present in 5.6.0, I have left a comment over there. Anyone following this issue might also want to subscribe to that one.

[2017-12-19 14:54] JamieMason commented on #83
Spotted this PR over at https://github.com/npm/npm/pull/19423 🎉

[2018-01-10 12:59] JamieMason commented on #83
#### Update On Progress

1. Applied [this patch](https://gist.github.com/iarna/ba8cfbcad37ceebcf23293629c2edd4c) from https://github.com/npm/npm/pull/19423 to my local installation of npm.
1. [Stopped concatenating](https://github.com/JamieMason/shrinkpack/commit/d05f107fd6ccb11eb95f97f4f609dc25a2442571) hashes in shrinkpack.
1. Tested it out locally against a project.
1. It works – npm installs u

[2018-01-12 08:51] timdp commented on #83
I don't want to hijack the conversation but how does this currently relate to `npm ci` (formerly known as `cipm`)?

[2018-01-12 09:01] JamieMason commented on #83
@timdp can you expand on what you mean by how they might relate to each other?

References I know of between shrinkpack and cipm are [this comment above](https://github.com/JamieMason/shrinkpack/issues/83#issuecomment-334381944) when I first heard about cipm (as a note to self mainly) and that zkat mentions shrinkpack [in this PR comment](https://github.com/zkat/cipm/pull/33#issuecomment-349529329

[2018-01-12 13:10] timdp commented on #83
I meant that they're basically trying to achieve the same thing: performing an npm install without network access--or at least that's how I understood it. Hence, I was wondering what the exact case for shrinkpack is versus the one for cipm.

[2018-01-12 14:33] JamieMason commented on #83
If npm provide an officially supported form of shrinkpack that would be the ideal, and we'd have no need for shrinkpack.

I asked [back in July 2017](https://github.com/JamieMason/shrinkpack/issues/83#issuecomment-316355616) whether there was any need for me to add support for npm5 and cipm might be what they had in mind back then but didn't have time yet to get started.

[2018-01-12 15:22] timdp commented on #83
Okay, but now that cipm is there, is there effectively a difference between cipm with a project-local npm cache (so that you only get the dependencies you need) and shrinkpack?

[2018-01-15 10:55] JamieMason commented on #83
I don't know @timdp but from reading https://www.npmjs.com/package/cipm my interpretation is that `cipm` isn't necessarily for installing offline but is a stricter, more deterministic `npm` – so would be better-suited to being used with caching proxies or offline mirrors.

If that's correct, then it seems to me that something like `shrinkpack` could a good fit for preparing an offline mirror which

[2018-01-17 11:56] JamieMason commented on #83
Opened **Packages installed from "file:..." become default location for package/version pairs**
at https://github.com/npm/npm/issues/19621

[2018-01-18 03:00] zkat commented on #83
@timdp npm can already do almost fully-offline installs if you have a `package-lock.json` and a warm cache. This happens -right now-, without any extra flags. The only exception right now is git packages, which need an extra layer of bespoke caching before I can do that with those (though the last real hurdle has been cleared on that).

As far as `npm ci` goes: @JamieMason's assessment of this is

[2018-02-18 11:56] JamieMason commented on #29
Going to close this please folks, I think it is addressed? We have `"node": ">=4.0"` under `"engines"` in package.json and are using arrow functions etc in the codebase. The next version of `shrinkpack` will be TypeScript with es3 as the transpilation target. Please comment if I've overlooked anything you raised here, thanks.

[2018-02-18 11:56] #29 closed

[2018-02-18 12:02] #65 closed

[2018-02-18 14:54] JamieMason commented on #83
There have been some recent developments which can be followed in the #npm channel of package.community at https://discord.gg/RkxC4cA.

The summary is that @zkat has put together patches for `shrinkpack`, `npm`, `pacote`, and `cacache` to resolve the issues we've been seeing. This means support for `shrinkpack` is likely to land in one of the next two releases of `npm`, with `shrinkpack` 1.x being

[2018-02-23 10:17] JamieMason opened #93 "Task: Ensure paths are always / in package lock"
`require('path')` will use `\` if run on windows.

[2018-03-27 09:41] mobidev111 commented on #83
npm v5.8.0 is out - with patches for shrinkpack

[2018-03-30 07:44] b2yq commented on #86
I have the same error when i am trying to call 'shrinkpack'  even after update to npm 5.8.0, .
I am trying to accomplish tutorial from wiki on windows and I am still getting this error.

[2018-03-30 09:32] JamieMason commented on #83
Away at the moment but aiming to work on this Sunday or Monday, thanks all. Almost finally there now I hope.

[2018-04-02 11:47] JamieMason commented on #83
.tgz packages seem to work correctly in 5.8.0, they can be installed offline. .tar packages however have some issues and are hitting the network and warning of integrity issues.

The following output is when `npm ci` is run against the `shrinkpack` dev branch itself, when it has been bundled using `shrinkpack .`:

<details>
<summary>npm ci output</summary>

[code]

</details>
<br>

If I were to ha

[2018-04-02 12:24] zkat commented on #83
Are you sure both of the hashes are listed in `integrity`? Does it work if you use `$ npx my-precious` instead of shrinkpack? That might be a good reference for you.

[2018-04-02 21:41] JamieMason commented on #83
Out of time for today but I have this branch https://github.com/JamieMason/shrinkpack/tree/npm5 which is a thin wrapper for `my-precious`. All seems to work as expected but I've yet to get [the e2e tests](https://travis-ci.org/JamieMason/shrinkpack/jobs/361371967) passing. Once I can figure this out I'll have more confidence to release it.

EDIT: Apologies for the email spam subscribers probably g

[2018-05-03 14:22] peteward44 commented on #83
Any progress on this? I don't mind having a look if you're not able to work on it

[2018-05-03 15:44] JamieMason commented on #83
Thanks @peteward44 I appreciate the offer.

I have to grudgingly admit that this issue has worn me down and by now I really struggle to find the energy and motivation to get it through. Kat and Rebecca from npm have been amazing and we couldn't ask any more from them, but in two days this issue will be a year old. That's a long slog for one person and over that time each fix has uncovered new issu

[2018-05-04 07:10] peteward44 commented on #83
OK fair enough. A shame as shrinkpack is a great tool, but native support for offline installs does make a lot more sense.

[2018-05-04 07:50] mobidev111 commented on #83
npm taking over is definitely good - giving it a future as first class citizen.

This probably only arrives in half a year or so. In the blog post they state "late summer and fall of 2018" and given they're loaded with work one could guess that the timeline for this feature slips further.

I would welcome a quicker (interim) solution - and it seems we are already very close with shrinkpack working

[2018-05-04 08:17] zkat commented on #83
@mobidev111 the native npm version is pretty much already implemented and mostly needs attention and polish. You can try it right now with `$ npx npmc archive`. Regular `npm install` as of `npm@6` should be able to install off that archive. If you want to add/remove packages, though, you'll need to use `$ npx npmc add <pkg>` and `$ npx npmc rm <pkg>` so edits to package-lock.json happen correctly.

[2018-05-04 08:18] zkat commented on #83
The reason it isn't shipped is because I need to take it over the finish line, make sure corner cases are covered, add tests, etc -- but I won't have time allocated to do this for the next couple of months, probably.

[2018-05-04 08:18] zkat commented on #83
(p.s. `$ npx npmc unarchive` will return your repo to its original pre-`archive` format)

[2018-05-04 10:45] peteward44 commented on #83
Great news @zkat. I'm not brave enough to use this in my production tool chain just yet, but i look forward to the official release :+1: We've been stuck on npm 4 due to this for a long time now and really can't wait to upgrade

[2018-05-04 13:26] JamieMason commented on #83
I have published `npm install -g shrinkpack@next` which contains the current npm5 branch as 1.0.0-alpha: https://github.com/JamieMason/shrinkpack/blob/npm5/CHANGELOG.md.

It is a thin wrapper for `my-precious` rather than the ongoing work I did in the dev branch, I expect there may be issues but please let us know how it goes for you 👍

Thanks all for your comments, @mobidev111 thanks a lot for th

[2018-05-16 13:17] behoyh commented on #83
Hi @JamieMason,

Thanks for all your work, I know firsthand how building an open source project can be disorienting and tiring, and I just wanted to say that your efforts are very much appreciated and needed!

Congrats on getting your code into npm archive!

[2018-05-22 14:57] BogdanDumitruMarian commented on #83
Hi. @JamieMason
I'm getting the infamous

[ERROR] npm WARN optional SKIPPING OPTIONAL DEPENDENCY: aggregate error
[ERROR]
[ERROR] npm ERR! aggregate error

when running `npm install`

I'm using node v9.11.1 / npm 5.6.0 and shrinkpack 1 - alpha.
Funky enough, it only happens on the Jenkins Linux machine.
I've tried running `npm i` against the archived-packages locally, with the internet connection

[2018-05-24 03:23] reggi opened #94 "npm 6 support (removed the `npm cache ls`)"
It seems `npm` 6 removed the `npm cache ls` command.  :(

[code]

[2018-08-17 15:23] themoonrat commented on #83
https://github.com/npm/cli/pull/1 got closed down :(
Looks like yarn is the only solution, other than staying with vastly slower npm v4

[2018-08-17 18:01] zkat commented on #83
@themoonrat we're looking into ways to reintegrate this and see where it fits into our product plans for the CLI. In the meantime, the core support for this kind of thing _did_ land in npm. Any tool that does the same kind of rewriting should provide similar support. This means you can use `$ npx my-precious` or shrinkpack can be updated to do things with `libprecious` itself, and it should be way

[2019-06-14 03:34] loujinliangdg opened #95 "Error: ! failed to read contents of npm cache"
$ shrinkpack
! Please raise an issue at https://github.com/JamieMason/shrinkpack/issues

    Error: ! failed to read contents of npm cache
        at ChildProcess.onClose (C:\Users\1\AppData\Roaming\npm\node_modules\shrinkpack\src\analyse\read-npm-cache.js:40:25)
        at emitTwo (events.js:126:13)
        at ChildProcess.emit (events.js:214:7)
        at ChildProcess.cp.emit (C:\Users\1\AppData

[2019-08-21 11:50] anasyo10 commented on #88
I am getting the same error on npm 6.9.0, what should I do ?

[2020-08-04 10:00] thomashardwick commented on #83
So it's been while.
I'm still using shrinkpack and npm@4 since it still seems to be the only way to do fully offline installs without zipping up the node_modules folder but it is steadily becoming problematic to be on such an old version.
Has there been any movement on getting npm able to install on an offline air-gapped machine or with shrinkpack using newer versions of npm?

[2020-08-06 11:28] JamieMason commented on #83
Hey @thomashardwick, check out https://github.com/JamieMason/shrinkpack/issues/83#issuecomment-386340937 as I think it's still about right as a summary of where shrinkpack is at. Quite some time has passed though and I've lost touch with what npm provides out of the box in this area, there was talk of an `npm archive` command but again I don't know the latest.

[2020-08-07 07:23] rockerest commented on #83
@thomashardwick I know this is a **very** different solution, but have you tried something like https://www.snowpack.dev/ or my own much simpler (better, in my opinion) https://www.npmjs.com/package/@thomasrandolph/icepack?

In both cases, instead of saving a local copy of the full dependency tree, those tools build a bundled copy of the appropriate dependencies. You would do that once, while you

[2020-08-07 10:37] peteward44 commented on #83
I've since changed to use Yarn and it's offline mirror, which works pretty much like shrinkpack does.

https://classic.yarnpkg.com/blog/2016/11/24/offline-mirror/

It would seem NPM has lost interest in allowing users to offline dependencies as that goes against it's business model. A shame

[2020-08-07 10:44] JamieMason commented on #83
Keep an eye on https://github.com/yarnpkg/yarn/issues/541 @peteward44 as Yarn's offline mirror can gradually harm the performance of your Git repo over time.

[2020-08-08 04:34] iarna commented on #83
I've got no idea what npm's plans are these days, but they do have an [active rfc process](https://github.com/npm/rfcs) going, and it may be useful to bring this up there again.

[2021-12-29 22:10] JamieMason commented on #83
[shrinkpack@0.19.0](https://github.com/JamieMason/shrinkpack/releases/tag/0.19.0) has been released which adds support for npm 7 and up. Thanks again to Kat and Rebecca for all of your help during your time at npm ❤️ .

[2021-12-29 22:10] #83 closed

[2021-12-29 22:12] JamieMason commented on #80
[shrinkpack@0.19.0](https://github.com/JamieMason/shrinkpack/releases/tag/0.19.0) has been released which adds support for npm 7 and up. It also removes the `--compress` option and uses uncompressed tarballs by default.

[2021-12-29 22:12] #80 closed

[2021-12-29 22:13] JamieMason commented on #84
[shrinkpack@0.19.0](https://github.com/JamieMason/shrinkpack/releases/tag/0.19.0) has been released which adds support for npm 7 and up. This should now be working as I think this was related to the npm 5 issues.

[2021-12-29 22:13] #84 closed

[2021-12-29 22:13] #90 closed

[2021-12-29 22:14] #91 closed

[2021-12-29 22:14] #93 closed

[2021-12-29 22:14] JamieMason commented on #94
[shrinkpack@0.19.0](https://github.com/JamieMason/shrinkpack/releases/tag/0.19.0) has been released which adds support for npm 7 and up.

[2021-12-29 22:14] #94 closed

[2021-12-29 22:15] JamieMason commented on #95
[shrinkpack@0.19.0](https://github.com/JamieMason/shrinkpack/releases/tag/0.19.0) has been released which adds support for npm 7 and up.

[2021-12-29 22:15] #95 closed

[2021-12-29 22:16] #89 closed

[2021-12-30 21:32] behoyh commented on #83
This is amazing

[2022-08-21 14:42] Shakeskeyboarde opened #96 "Integrities are concatenated"
## Description

When run multiple times, the lock file changes every time, because the integrity strings are concatenated to the old integrity value.

## Suggested Solution

Replace the integrity value instead of adding to it.

## Help Needed

N/A

[2022-08-30 15:41] JamieMason commented on #96
Thanks for reporting, will take a look.

[2022-10-11 12:50] JamieMason commented on #96
Do you have a fix for this in your rewrite @Shakeskeyboarde? No worries if not but may save me some time if so.

[2022-10-15 05:28] Shakeskeyboarde commented on #96
I'm not sure I have a fix exactly, but here's my lock file handler: https://github.com/Shakeskeyboarde/npm-offline-mirror/blob/main/src/lock.ts